body {text-align:center;font-family:宋体; margin:0; padding:0; background:#fff;font-size:12px; color:#333;}
div,form,img,ul,ol,li,dl,dt,dd,BUTTON{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6 {margin:0; padding:0; font-size:12px; font-weight:normal;}
table,td,tr,th{font-size:12px;}li{list-style-type:none;}table{ margin:0 auto;}img{vertical-align:top;}
.clear{ clear:both;}
.blk12,.blk10,.blk08,.blk06,.blk04,.blk02{width:100%;float:left;display:inline; clear:both;}
.blk12{height:12px;line-height:12px;font-size:8px;}
.blk10{height:10px;line-height:10px;font-size:10px;}
.blk08{height:8px;line-height:8px;font-size:8px;}
.blk06{height:6px;line-height:6px;font-size:6px;}
.blk04{height:4px;line-height:4px;font-size:4px;}
.blk02{height:2px;line-height:2px;font-size:2px;}
.gads{width:1000px;height:auto;clear:both;padding-top:0px;padding-bottom:0px;margin:0px;}
.cb{ clear:both; height:0px; line-height:0px; font-size:0px;}
/*文字属性*/
.orangeTxt{ color:#fd7b34;}
.greenTxt{ color:#097384;}
.grayTxt{ color:#999;}
.f14{ font-size:14px;}
.fb{ font-weight:bold;}
/* 链接颜色 */
a{color:#444;text-decoration:none;}
a:link{ color:#025567; text-decoration:none; }
a:visited{color:#333;text-decoration:none;}
a:hover{color:#e8631a;text-decoration:none;}
a:active{color:#c00;}
/* 颜色属性 [定义规则，小写c加颜色名称] */
.cRed,a.cRed:link,a.cRed:visited{ color:#f60;}
.cBlue,a.cBlue:link,a.cBlue:visited{color:#0046C1; text-decoration:underline;}a.cBlue:hover{text-decoration:underline;color:#f30;}
.cBlue2,a.cBlue2:link,a.cBlue2:visited{color:#325e7f!important;text-decoration:none;}a.cBlue2:hover{text-decoration:underline;color:#f30!important;}
.cDRed,a.cDRed:link,a.cDRed:visited{ color:#d10;}
.cGray,a.cGray:link,a.cGray:visited{ color:#555;}
.cBlue1,a.cBlue1:link,a.cBlue1:visited{color:#097384;}a.cBlue1:hover{text-decoration:underline;color:#f30;}
.cDy,a.cDy:link,a.cDy:visited{ color:#e34101;}
.cYyl,a.cYyl:link,a.cYyl:visited{color:#F50;}a.cBlue1:hover{text-decoration:underline;color:#f30;}

/*窄 通用全站导航做成100%样式*/
#wrapx{width:100%;height:auto;margin:0 auto;padding:0;display:block; clear:both; background:#FFF;}
/* 通用全站导航 1000 宽*/
#wrap{width:1000px;height:auto;margin:0 auto;padding:0 10px;display:block;background-color:#FFFFFF;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
* html .clearfix{height:1%;}
.clearfix{display:block;}

/*顶部TOP样式*/

.top{width:100%;height:27px;display:block;_display:inline;background:url(/static/images/portal/gd.png) 0px 0px repeat-x;float:left;position:relative;z-index:99999;padding-top:1px;clear:both;}
.top .box{width:990px;margin:0px auto;height:27px;line-height:27px;}
.lgin,.login-info{float:left;display:inline;padding-top:0px;color:#666;padding-left:10px;}
.lgin a:link,.lgin a:visited{color:#666;}
.lgin a:hover{color:#f60;}

#Nav2{width:auto;height:27px;float:right;display:inline;margin:0px;padding:0px;margin-right:4px;_margin-right:5px;}
#topNav{color:#FFFFFF;float:left;font-size:12px;width:auto;margin:0;height:26px;text-align:left;}
#topNav li.current,#topNav li.current1{color:#666;padding-right:8px;}
#topNav li.current a{padding-left:22px;background:url(/static/images/portal/gd.png) no-repeat 8px -812px;}
#topNav li.current a:hover{color:#f30;background:url(/static/images/portal/gd.png) no-repeat 8px -836px;}
#topNav li.current a:link,#topNav li.current a:visited,#topNav li.current1 a:visited,#topNav li.current1 a:visited{color:#666;}
#topNav li.current a:hover{color:#f30;}#topNav li.current1{color:#666;background:none;}#topNav li.current1 a:hover{color:#f30;}
#topNav li.midx{width:auto;display:inline;color:#ccc;font-weight:normal;height:29px;line-height:29px;margin:0px;padding:0px;z-index:0;}

#topNav li{margin-left:-4px;margin-right:-4px;float:left;text-align:center;position:relative;z-index:10;line-height:20px;display:inline;z-index:100;}
#topNav a{float:left;display:inline-block;height:25px;line-height:25px;padding-top:2px;color:#333;text-decoration:none;font-weight:normal;}
#topNav span{display:block;font-size:12px;}
#topNav a:hover,#topNav .on a{FLOAT:left;}


#topNav .on span{color:#333;float:left;display:inline;background:url(/static/images/portal/gd.png) -80px -704px;width:73px;padding-right:5px;position:relative;left:0px;z-index:2;}
#topNav .out span{color:#666;float:left;display:inline;background:url(/static/images/portal/gd.png) 0 -705px;width:73px;padding-right:5px;position:relative;left:0px;z-index:2;}
#topNav .on2 span{color:#f30;float:left;display:inline;background:url(/static/images/portal/gd.png) 0 -749px no-repeat;width:91px;position:relative;left:0px;z-index:2;padding-left:8PX;}
#topNav .out2 span{color:#666;float:left;display:inline;background:url(/static/images/portal/gd.png) 0 -844px no-repeat;width:91px;position:relative;left:0px;z-index:2; padding-left:8PX;}
#topNav .navp {width:117px;float:left;position:absolute;display:none;left:0px;top:26px;z-index:-110;}
#topNav .navp UL.navlist{width:105px;float:left;display:inline;border:#ccc 1px solid;padding-top:6px;padding-bottom:6px;background: #FFF;}
#topNav .navp UL.navlist LI{width:105px;float:left;display:inline;padding-top:0px;padding-bottom:0px;margin-left:1px;background:none;}
#topNav .navp UL.navlist LI A{width:100px;float:left;display:inline;height:16px;line-height:16px;padding-left:2px;padding-top:3px;padding-bottom:5px;font-size:12px;color:#666;text-align:left;text-decoration:none;display:inline-block; background:#333;}
#topNav .navp UL.navlist LI A:link,#topNav .navp UL.navlist LI A:visited{background:none no-repeat 0 0;text-decoration:none;}
#topNav .navp UL.navlist LI A:hover{color:#f30;text-decoration:none;}
#topNav .out,#topNav .out2 {z-index:0;}
#topNav .on .navp,#topNav .on2 .navp2,#topNav .on2 .navp {display:block;}
#topNav .out .navp,#topNav .out2 .navp2,#topNav .out2 .navp {display:none;}
#topNav .navp li {float:none;background:none no-repeat 0 0; padding-left:10px;}
#topNav .navp a {float:none;display:block;margin:0;color:#333;font-size:12px;text-decoration:none; font-weight:normal;}
#topNav .navp a:hover{color:#f30;background:none no-repeat 0 0;}
#topNav .navp a .sina,#topNav .navp a .QQd{float:left;display:inline;width:12px;height:16px;background:url(/static/images/portal/gd.png) no-repeat -93px -581px; position:relative;}
#topNav .navp a .QQd{ background-position:-110px -581px;}

/*头部，logo*/
#headz{width:1000px;height:auto;margin:0px auto;display:inline-block;clear:both;padding:0 10px 10px;background-color:#FFFFFF;}
#headz .logo1 {width:auto;float:left;display:inline;height:60px;margin-top:17px;cursor:pointer;background:url(/static/images/common/logo_portal.png) no-repeat;width:500px;height:60px;}
#headz .logo {width:auto;float:left;display:inline;height:60px;margin-top:17px;cursor:pointer;background:url(/static/images/common/logo.png) no-repeat;width:347px;height:60px;}
#headz .logo1 a{font-size:28px;font-weight:700;float:left;color:#13928D;padding-left:200px;}
/*头部搜索样式*/
#headz .serch{width:480px;display:inline;margin-top:25px;float:right;}
#headz .serch .sehtxt{height:32px;float:left; background:#FFF; border:#95c9d5 solid 2px;}
#headz .serch .sehtxt .srk{ border:0; margin:0; padding:0; line-height:30px; height:30px; float:left; width:350px;/* padding-left:30px;*/ background:url(/static/images/portal/gd.png) -180px -1330px no-repeat;text-indent:30px;}
#headz .serch .sehbot{ width:90px; height:33px; float:left; float:left; background:url(/static/images/portal/gd.png) -17px -31px; cursor:pointer;}
#headz .serch .hotxt{ width:440px; float:left; line-height:30px; text-align:left; padding-left:10px;}

/*导航*/
#mainNav{width:100%;margin:0px;float:left;left:0px;padding:0px;clear:both;background:url(/static/images/portal/gd.png) repeat-x 0 -73px #0f77af;z-index:1;margin-top:0px;}
#mainNav .miNav{width:1000px;height:40px;margin:0px auto;padding:0px;display:inline-block;background:#fff;clear:both;z-index:1;position:relative;z-index:9995;}
#mainNav ul.tNav{width:1000px;height:40px;margin:0px auto;padding:0px;clear:both;position:relative;z-index:9995; line-height:14px; overflow:hidden;}
#mainNav ul.tNav li{ float:left; line-height:38px;color:#FFF; font-weight:bold; font-size:14px; position:relative;background:url(/static/images/portal/gd.png) -198px -30px no-repeat;margin-top:1px;}
#mainNav ul.tNav li a{ display:block; color:#FFF;padding:0px 14px;}
#mainNav ul.tNav li a:hover{ color:#FFF; background:url(/static/images/portal/gd.png) no-repeat 0 -2050px; text-decoration:none;}
/*#mainNav ul.tNav li.ondh{background:#FFF; color:#005599; margin-top:5px; line-height:35px;}
#mainNav ul.tNav li.ondh a{ color:#005599;background:#FFF;}
#mainNav ul.tNav li.ondh a:hover{ color:#005599; background:none;}*/
#mainNav ul.tNav li.showxl{ background:#FFF; color:#059;}
#mainNav ul.tNav li.showxl a{ color:#059; background:none; border-left:#0f77af solid 1px; padding-left:14px;}


/*小导航*/
.sub1{ width:998px; background:#f2fdff; border:#c4f1fb solid 1px; float:left; position:relative; z-index:30;}
.sub1 ul{ line-height:25px; float:left; padding:8px 0px 8px 15px; background:url(/static/images/portal/gd.png) -198px -120px no-repeat;}
.sub1 ul.w1{ width:230px; background:none;}
.sub1 ul.w2{ width:230px;}
.sub1 ul.w3{ width:248px;}
.sub1 ul.w4{ width:230px;}
.sub1 ul li{ width:auto; padding-right:9px;float:left; text-align:left; line-height:20px; position:relative; }
.sub1 ul li a{ white-space:nowrap;}
.sub1 .btico{ float:left; padding:0px; width:63px; height:28px; color:#005599; background:url(/static/images/portal/gd.png) -125px -31px; color:#FFF; text-align:center; font-size:14px;}
.sub1 .btico a{ color:#fff;}.sub1 .btico a:hover{ color:#ff0;}
.sub1 .hottxt{float:left; height:auto; color:#005599; text-align:left;}
.sub1 .hottxt a{color:#ff5500;}
.sub1 .hottxt a:hover{ color:#d00;}
.sub1 .txtop{ width:100%; height:auto; float:left; margin-bottom:5px;}
.sub1 ul li.dhshow{ position:relative; background:none;background:#f9fdfe;}
.sub1 ul li .gdq{ width:222px; height:auto; float:left;position:absolute;z-index:55; top:20px;right:-12px;_right:-13px; display:none;}
.sub1 ul li.dhshow .gdq{ display:block;}
.sub1 ul li.dhshow .gdq .dqtp{ margin-left:180px; margin-bottom:-1px;width:11px; height:9px; font-size:0;background:url(/static/images/portal/main.png) -222px -312px;float:left; display:inline; position:relative;}
.sub1 ul li .gdq ul{width:220px; height:auto; background:#fff; border:#a4dbef solid 1px;padding-left:0px; float:left;}
.sub1 ul li .gdq ul li{ padding:0px;}
.sub1 ul li .gdq ul li a{ padding:0px 10px; display:block;}
.sub1 ul li .gdq ul li a:hover{ background:#097384; color:#FFF;}

.hot_txt{width:1000px;margin:0px auto;padding:0px;height:23px;color:#333;clear:both;}
.hot_txt .h_lf{float:left;display:inline;width:auto;}
.hot_txt .h_lf span{width:auto;background:url(/static/images/portal/gd.png) no-repeat -188px -829px;height:20px;padding-left:17px;margin-left:3px;line-height:20px; float:left; margin-top:3px;color:#333;}
.hot_txt a{color:#333;}
.hot_txt .h_rg{float:right;display:inline;width:auto;font-size:12px;}
.hot_txt .h_rg ul{width:auto;line-height:22px;float:right;display:inline;}
.hot_txt .h_rg ul span{float:left;height:22px;color:#036;background:none;font: normal 12px/22px 宋体;display:inline;margin-top:0px;color:#ddd;}
.hot_txt .h_rg ul li{width:auto;float:left;height:20px;border:0px solid #CFE4EE;line-height:20px;text-align:center;margin-left:5px;background:url(/static/images/portal/gd.png) repeat-x 0px -662px;display:inline;}
.hot_txt .h_rg ul li A{width:auto;float:left;height:18px; line-height:18px;border:1px solid #b7e6ed;background-color:#eefdfc;padding:0px 7px 0px 7px; display:block;color:#048497; }
.hot_txt .h_rg ul li A:hover{border:1px solid #32abbd;text-decoration:none;}

/*考试问答*/
.hyzxwd{ width:300px;float:left; position:relative; padding:0px 10px;}
.hyzxwd a:hover{ text-decoration:none;}
.wytw{ width:100%;float:left; margin:8px 0px;}
.wytw .twinput{ padding:0px; border:0px; margin:0px; background:url(/static/images/portal/gd.png) 0px -367px; border:#bbe1ee solid 1px;line-height:23px; height:23px; float:left; padding-left:5px; width:198px;color:#aaa;}
.wytw .twbot{ border:0px; padding:0px; margin:0px; background:url(/static/images/portal/main.png) -554px 0px; color:#FFF; width:85px; height:25px; float:left; margin-left:10px; display:inline; cursor:pointer;}
.nwwd{ width:100%; height:240px;float:left; position:relative;overflow:hidden;}
.nwwd ul.box-bd{ margin:0px; padding:0px;color:#818181;#padding-bottom:3px;_padding-bottom:0px; float:left;}
.nwwd ul.box-bd li{width:100%;font-size:12px; float:left; padding-bottom:8px; border-bottom:#a4dbef dotted 1px; margin-bottom:8px;}
ul.box-bd li a.asking-lf{float:left;width:43px;height:40px; line-height:20px;color:#ff5500; text-align:center; border:#d2eef9 solid 1px; text-decoration:none; cursor:pointer;}
ul.box-bd li a.asking-lf.tp:hover{ border:#f50 solid 1px;}
ul.box-bd li a.asking-lf span.xs{width:100%; background:#eef9ff; color:#059; display:block; float:left;}
ul.box-bd li a.asking-lf span.je{width:100%; background:#fff; color:#f50; display:block; float:left; font-weight:bold;}
ul.box-bd li a.asking-lf img{width:41px;height:38px;background:#eef9ff; padding:1px;}

ul.box-bd li .asking-ct{width:245px; padding:0px 0px 0px 5px;float:left;top:0px;left:0px;text-align:left; margin-left:5px; display:inline; position:relative;}
ul.box-bd li .asking-ct .asking-item-title,ul.box-bd li .asking-ct .asking-item-desc,ul.box-bd li .asking-ct .asking-wlhd{float:left;display:inline;margin:0px;padding:0px;line-height:18px; padding-bottom:4px;}
ul.box-bd li .asking-ct .asking-item-title{width:240px;overflow:hidden; white-space:nowrap;}
ul.box-bd li .asking-ct .asking-item-title span.yhm{ color:#059; padding-right:5px;}
ul.box-bd li .asking-ct .asking-item-desc{ width:133px;color:#aaa;}
ul.box-bd li .asking-ct a.asking-wlhd{ width:68px; height:21px; line-height:21px; float:right; border:#a4dbef solid 1px; text-align:center; position:absolute; right:0px; bottom:-1px; padding-left:10px;/* background:url(/static/images/portal/gd.png) no-repeat 5px -1372px;*/ display:blockd; color:#059; padding-bottom:0px;}
ul.box-bd li .asking-ct a.asking-wlhd:hover{ border:#f26d01 solid 1px; background:#FFF; text-decoration:none;}
ul.box-bd li .asking-ct a.asking-wlhd span{ position:absolute; width:16px; height:13px; left:7px; top:5px; background:url(/static/images/portal/lm.png) -206px -280px;}
ul.box-bd li .asking-ct a.asking-wlhd span.ceshi{ background:url(/static/images/portal/main.png) -115px -240px; z-index:10;}





/*问答小组*/
.wdtic{ width:298px; height:26px; float:left; position:relative;background:#f5fcff; text-align:left;border-left:none; border-right:none;}
.wdtic .txlf{font:bold 14px/26px "宋体"; color:#059; float:left;}
.wdtic .txlf a{ color:#059;}
.wdtic .wdico{ width:4px; height:28px; float:left;background:url(/static/images/portal/main.png) -705px 0px;margin:-1px 10px -1px -1px; position:relative;}
.wdtic .more{ font:12px/26px "宋体"; float:right; margin-right:10px; display:inline;}


.m1right1{width:310px;font:normal 14px "宋体"; position:relative;float:left; padding-top:4px; margin-right:-12px;}
.m1right1 .hyzuqun{width:300px;float:left;position:relative;}
.hyzuqun .zqun{width:100%;float:left;}
.hyzuqun .zjbtico{ width:41px; height:22px; line-height:20px;color:#fff; font-size:12px; background:url(/static/images/portal/main.png) -381px -386px no-repeat; position:absolute; left:-3px; top:3px; z-index:8; clear:both; text-align:center;}
.zqun li{width:100%;font-size:12px; float:left; margin-top:9px; position:relative;}
.zqun li img.zpeo{width:50px;height:50px;padding:3px;border:1px solid #dfdfdf; background:#fff;float:left;display:inline;}
.zqun li img.zpeo:hover,.zqun li img.zpeo.sfhover{border:1px solid #f70;}
.zqun li .ckx{width:230px;float:right;line-height:19px;text-align:left;color:#333; position:relative;}
.zqun li .ckx .ckxt{width:100%;overflow:hidden;white-space:nowrap;line-height:23px;}
.zqun li .ckx .ckxt1{width:100%;overflow:hidden;white-space:nowrap;line-height:18px;}
.zqun li .ckx a.til{width:100%;font-size:12px;font-weight:bold;overflow:hidden;white-space:nowrap; color:#059;}
.zqun li .ckx span{font-weight:normal;}
.zqun li .ckx .newicon{z-index:0;position:absolute;top:-7px;right:5px;background:url(/static/images/portal/gd.png) no-repeat -99px -1246px;width:28px;height:14px;}
.zqun li.line{width:252px;float:left;display:inline;padding:0px;margin:1px 0px 0px 0px;height:1px;font-size:1px;line-height:1px;background:url(/static/images/portal/kszx.png) no-repeat 0 -40px;}
.zqun .arr{padding:0px;margin:0px;float:right;display:inline;right:0px;width:92px;top:25px;overflow:hidden;font-size:12px;position:absolute; z-index:0;}
.zqun .ak,.zqun .join{float:right;height:21px;font-size:12px;}
.zqun .join{margin-bottom:1px;}
.zqun .ak a{display:block;height:21px;background:url(/static/images/portal/gd.png) no-repeat 0px -1246px;padding-left:23px;width:70px;line-height:19px;color:#fff;}
.zqun .ak a:hover{text-decoration:none;color:#ff3;}
.zqun .join a{display:block;height:21px;background:url(/static/images/portal/gd.png) no-repeat 0px -1273px;padding-left:23px;width:70px;line-height:19px;color:#fff;}
.zqun .join a:hover{text-decoration:none;color:#ff3;}
.hyue{float:left;display:inline;width:280px;border-top:1px solid #A4DBEF;margin-top:10px;}
.hyue .huser{width:30px;height:33px;float:left;display:inline;margin:0px;padding:0px;padding-top:16px;padding-left:3px;padding-right:6px;position:relative;margin-top:-7px;background: url(/static/images/portal/main.png) no-repeat -859px 0px;z-index:1px;font-size:12px;margin-left:6px; margin-right:3px;line-height:15px;color:#aaa; text-align:center;}
.zqun .bd{float:left;width:231px;margin-top:7px;margin-left:0px;padding-bottom:5px;display:inline; position:relative;}
.zqun .bd a{overflow:hidden;}
.zqun .bd a:hover{text-decoration:none;}
.zqun .bd .imgf{height:30px;width:30px;max-width:30px;max-height:30px;float:left;display:inline;vertical-align:middle;border:1px solid #f5f5f5;margin:0px 0 0 2px;padding:2px;background:#fff;position:relative;left:0px;}
.zqun .bd .imgf:hover,.zqun .bd .imgf.sfhover{border:1px solid #f70;}
.gimg{float:left;display:inline;width:244px;margin:0px;padding:0px;}

.hyzxwd ul.qzht { width:300px; padding-left:0px;line-height:23px; float:left; margin-top:8px; padding-top:6px; padding-bottom:6px; border-top:#a4dbef dotted 1px;}
.hyzxwd ul.qzht li{width:280px; background:none; line-height:22px;padding-left:10px;background:url(/static/images/portal/gd.png) -197px -262px no-repeat; text-align:left; white-space:nowrap; overflow:hidden;}
.hyzxwd ul.qzht li a{ padding-right:14px;}



/*尾文件*/
.nfoot{width:100%;display:inline-block;border-top:1px solid #cbcbcb;margin:10px auto 0;padding-bottom:40px;CLEAR:both;background:#f9f9f9;}
.nmid{width:1000px;margin:0 auto;clear:both;border-top:2px solid #f0f0f0;background:#fff;display:inline-block;margin-bottom:-4px;_margin-bottom:0px;}
.nmid .box28{WIDTH:123px;FLOAT:left;display:inline;height:auto;margin:0px;padding-bottom:10px;border-left:1px solid #eee;}
.nmid .box28 UL{width:123px;float:left;height:auto;display:inline;}
.nmid .box28 h4{WIDTH:88px;FLOAT:left;display:inline;font:bold 16px/26px 微软雅黑;text-align:left;padding-bottom:3px;padding-top:8px;padding-left:15px;}
.nmid .box28 h4 a{color:#005087;}
.nmid .box28 h4 a:hover{color:#f30;}
.nmid .box28 UL li{width:83px;margin:0px;padding-left:10px;padding-right:10px;display:inline;text-align:left;float:left;height:23px;line-height:23px;font-family:Arial;font-size:13px;color:#d10;}
.nmid .box28 li a{color:#666;line-height:23px;font-size:12px;font-family:Arial;}
.nmid .box28 li a:hover{color:#f30;}
.nmid .box27{WIDTH:119px;}
.nmid .box27 UL{WIDTH:119px;}
.nmid .box27 UL li{width:99px;}
.nmid .box27 h4{WIDTH:104px;}
.nmid .box29{WIDTH:258px;border-right:1px solid #eee;}
.nmid .box29 UL{WIDTH:258px;}
.nmid .box29 UL li{width:auto; white-space:nowrap;}
.nmid .box29 h4{WIDTH:230px;}
.nmid .box29 li a{color:#059;font-family:微软雅黑;font-size:12px;}
.nmid li span{color:#ddd;}

/*会员中心*/
ul.Ng_server{ width:175px;padding:0px 0px 7px 0px; float:right;}
ul.Ng_server li{padding:0; margin:0; float:left;display:inline;margin:0px;padding:0px;width:57px;text-align:center;font:normal 12px/23px "宋体"; background:none; position:relative;}
ul.Ng_server li div{vertical-align:middle;}
ul.Ng_server li.onshowfdc { z-index:3;}
ul.Ng_server li.onshowfdc a.cd{ z-index:5; position:relative;}
ul.Ng_server li .fdc{ width:217px;border:1px solid #a4dbef; float:left; z-index:4; position:absolute; left:-3px; top:-1px; background:#FFF; display:none; height:64px;}
ul.Ng_server li .fdc .smwz{ width:130px; height:auto; float:right; background:#f2fdff; text-align:left; padding:5px 5px 5px 20px;background:url(/static/images/portal/gd.png) -194px -704px no-repeat #f2fdff; line-height:18px;}
ul.Ng_server li.onshowfdc .fdc{ display:block;}
ul.Ng_server li span{padding-top:2px;display:block;font:normal 12px/23px "宋体";}
ul.Ng_server li a{ color:#FFF; display:block; width:100%; padding-top:6px; cursor:pointer ;}
ul.Ng_server li a:hover{color:#FFF; display:block; width:100%;}
.gqsp,.zxkc,.mfst,.zjlx,.kswd,.mryl,.zlfx,.hyqz,.zxdy,.stsc,.qgzl,.bbs233{width:40px;height:30px;margin:0 auto;display:inline-block;background:url(/static/images/portal/gd.png) no-repeat 0px 0px;}
.gqsp{background-position:7px -169px;}
.zxkc{background-position:-144px -174px;}
.mfst{background-position:6px -222px;}
.zjlx{background-position: -48px -172px;}
.kswd{background-position: 4px -258px;}
.mryl{background-position:-58px -116px;}
.zlfx{background-position:-110px -117px;}
.hyqz{background-position:-47px -217px;}
.zxdy{background-position:-97px -220px;}
.stsc{background-position:-145px -220px;}
.qgzl{background-position:-100px -171px;}
.bbs233{background-position:-150px -115px;}

/*底部*/

#footer{CLEAR:both;FONT-SIZE:12px;MARGIN:0px auto;WIDTH:1000px;COLOR:#333;LINE-HEIGHT:20px;TEXT-ALIGN:center;margin-top:0px;padding-top:10px;text-decoration:none;line-height:24px;border-top:3px solid #f1f1f1;padding-bottom:20px;}
#footer .a2 {COLOR:#333;font:12px/24px Arial;}
#footer .a2 A:link,#footer .a2 A:visited{color:#333333;}
#footer .a2 A:hover{COLOR:#ff0000;TEXT-DECORATION:underline;}

/*友情连接*/

#link_tp{width:998px;height:27px;border:1px solid #E0E0E0;border-bottom:none;background:#fff url(/static/images/portal/gd.png) 0px -772px repeat-x;margin:0px auto;clear:both;border-bottom:0px; margin-top:1px;_margin-top:0px;}
#link_tp .tit{width:86px;margin-left:10px;float:left;line-height:22px;height:23px;margin-top:4px;font:bold 15px/22px "微软雅黑";padding-left:7px;color:#c00;background:url(/static/images/portal/gd.png) no-repeat 0px -593px;}
#link {width:974px;line-height:22px;height:auto;padding:12px;border:1px solid #e0e0e0;margin:0px auto;clear:both;text-align:left;color:#ccc; background:#fff;}
#link ul{width:974px;line-height:22px;float:left;}
#link li{width:128px;float:left;display:inline;padding-left:10px;overflow:hidden;text-align:left;white-space:nowrap;}
#link a{color:#333;line-height:22px;}
#link a:hover{color:#ff0000;}


.Hidebox{display:none;}
.hidden{display:none;}
.Showbox{display:block;}

.ggw1kh40 {width:1000px; height:40px; overflow:hidden;}
.ggw1kh60 {width:1000px; height:60px; overflow:hidden;}
.ggw1kh80 {width:1000px; height:80px; overflow:hidden;}
.ggw190h267 {width:190px; height:267px; overflow:hidden;}
.ggw330h190 {width:330px; height:190px; overflow:hidden;}
.ggw608h80 {width:608px; height:80px; overflow:hidden;}
.ggw628h50 {width:628px; height:50px; overflow:hidden;}
.ggw658h80 {width:658px; height:80px; overflow:hidden;}
.ggw323h186 {width:323px; height:186px; overflow:hidden;}

a {blr:expression(this.onFocus=this.blur()); text-decoration:none; } /*针对 IE*/
a { outline:none; }/*针对火狐*/
