/*top*/
.newstp{ width:100%; height:auto; float:left; position:relative;}
.newstp .bt1{ width:auto; height:45px; line-height:45px; float:left; position:relative; margin-top:-5px; margin-left:15px; display:inline}
.newstp .bt1 .btico_lf{ width:5px; height:40px; float:left; background:url(/static/images/portal/gd.png) -89px -817px no-repeat; }
.newstp .bt1 .btico_cet{ height:40px; line-height:40px; background:url(/static/images/portal/gd.png) 0px -872px no-repeat;float:left; font:bold 16px/40px "宋体"; color:#FFF; padding:0px 15px;}
.newstp .bt1 .btico_rt{ width:5px; height:40px; float:left; background:url(/static/images/portal/gd.png) -98px -817px no-repeat}
.newstp .bt2{float:left; font:12px/45px "宋体"; padding-left:10px;}
.newstp .bt2 a{ padding:0px 5px}
.newstp .bt3{ float:left; font:bold 14px/45px "宋体"; padding:0px 10px;}
.newslb{ width:655px; float:left; padding:0px 15px;font:12px/25px "宋体"; text-align:left; position:relative}

/*左侧*/
.lmboxA{width:230px; height:auto; float:left; position:relative; z-index:66;}
.lmboxA .lfdh{width:215px; float:left;border-left:none; border-top:none; display:inline;position:relative; text-align:left}
.lmboxA .lfdh dt{ width:100%; float:left; line-height:35px; font-size:12px;background:url(/static/images/portal/lm.png) -231px -237px; position:relative; margin-top:-1px; z-index:2}
.lmboxA .lfdh dt.lmbt{ width:224px; float:left;background:url(/static/images/portal/lm.png) -746px -253px no-repeat; position:relative; margin-left:-9px; margin-top:-1px; height:41px; line-height:41px; z-index:3}
.lmboxA .lfdh dt.lmbt a{ background:none; padding-left:43px; font-size:14px; font-weight:bold; color:#097384;}
.lmboxA .lfdh dt.lmbt.bn{ background:url(/static/images/portal/lm.png) -746px -207px no-repeat;}
.lmboxA .lfdh dt a{padding-left:30px; background:url(/static/images/portal/gd.png) -180px -2432px no-repeat;cursor:pointer;}
.lmboxA .lfdh dl.act dt{ width:230px;float:left; color:#059; position:relative; margin:-1px -15px -1px 0px; font-weight:bold;background:url(/static/images/portal/lm.png) 0px -237px;}
.lmboxA .lfdh dl.act dd{ float:left}
.lmboxA .lfdh dd ul{float:left; display:none}
.lmboxA .lfdh dd dl.act dt a{background:url(/static/images/portal/gd.png) -180px -2398px no-repeat; color:#097384}
.lmboxA .lfdh dd dl.act dd ul{ width:213px; padding:0px 1px;float:left; position:relative; line-height:35px; display:block;}
.lmboxA .lfdh dd dl.act dd ul li{width:100%; float:left;font-weight:normal; color:#333; background:url(/static/images/portal/lm.png) -451px -237px no-repeat #FFF; }
.lmboxA .lfdh dd dl.act dd ul li a{padding-left:35px; background:url(/static/images/portal/gd.png) -173px -2455px no-repeat; color:#333;width:80%;float:left;white-space:nowrap; overflow:hidden; cursor:pointer}.lmboxA .lfdh dd dl.act dd ul li a:hover{ color:#ff7200;}
.lmboxA .lfdh dd dl.act dd ul li.act2{ width:213px;display:inline; font-weight:bold; }
.lmboxA .lfdh dd dl.act dd ul li.act2 a{color:#f50;}


.Tree{ width:734px;float:left; padding:15px; padding-right:20px; position:relative;}

.zjkd{width:1000px; height:auto; float:left;border-top:#32ABBD solid 2px; border-bottom:#a4dbef solid 1px; position:relative; background:url(/static/images/portal/end_header.gif) -5019px 0px repeat-y}
.zjkd .newstp{ width:998px; background:url(/static/images/portal/gd.png) 0px -1068px #FFF; border:#a4dbef solid 1px; border-top:none}
.zjkd .kcfl{ width:704px; float:left; border-bottom:#32ABBD solid 2px; color:#097384; text-align:left; padding-left:25px; background:url(/static/images/portal/gd.png) -177px -1295px no-repeat; font-family: "宋体"; font-size: 14px; line-height: 30px; font-weight: bold; }
.zjkd .kcfl .kclf{float:left}
.zjkd .kcfl .kcet{float:left; font-size:12px; font-weight:normal; color:#f50; padding-left:5px}
.zjkd .kcfl .kcrt{font:normal 12px/30px "宋体"; float:right; color:#58b8c6; font-weight:bold}
.zjkd .kcfl .kcrt a{padding:0 10px; font-weight:normal; color:#ff8a00;}
.zjkd .zjbtx{ width:714px; float:left; font:bold 12px/30px "宋体"; color:#333; text-align:left; padding-left:5px;background:url(/static/images/portal/gd.png) no-repeat -190px -1220px; padding-left:20px}

.boxa{ width:734px; height:auto; float:left;position:relative; margin-top:20px; text-align:left;}
.boxtix{ width:100%; float:left; font:bold 12px/19px "宋体";}
.boxtix .tlx1{  width:80px; height:28px; float:left; background:url(/static/images/portal/lm.png) -618px -335px; position:relative;padding-left:15px; padding-right:31px; color:#fff; font-size:14px; line-height:27px; margin-bottom:-1px; position:relative; z-index:5; font-weight:bold;}
.boxtix .tlx1.topico{ background:url(/static/images/portal/lm.png) 0px -280px no-repeat #FFF;}
.boxtix .tlx2{ float:left; padding-left:8px}
.boxbot{ width:718px; float:left; margin-left:16px; line-height:25px; padding:10px 0px; margin-bottom:10px;_display:inline; position:relative}
.boxa .boxbot{ margin-left:0px; width:734px; float:left; padding-top:0px}
.boxbot .tly1{ width:710px; float:left; position:relative; z-index:2; margin-bottom:10px}
.boxbot .tly1 a{float:left; padding:0px 9px; border:#FFF solid 1px; border-top:#FFF solid 2px; margin-right:5px; position:relative; white-space:nowrap}
.boxbot .tly1 a.onks{ background:#f5fdff; border:#a4dbef solid 1px; border-top:#0f78b0 solid 2px}
.boxbot .tly1 a:hover{ background:#f5fdff; border:#a4dbef solid 1px; border-top:#0f78b0 solid 2px; text-decoration:none; cursor:pointer}
.boxbot .tly1 a span{ float:left}
.boxbot .tly1 a .xla{ width:9px; height:5px; background:url(/static/images/portal/lm.png) -286px -280px; position:absolute; top:32px; left:30px; display:none; z-index:3; font-size:0px;}
.boxbot .tly1 a.onks .xla{ display:block}
.boxbot .tly1 em{ width:16px; height:16px;background:url(/static/images/portal/lm.png) -95px -280px no-repeat; float:left; margin-top:5px; margin-right:6px; display:inline}
.boxbot .tly1 em.zsd{ background-position:-95px -280px}
.boxbot .tly1 em.exam{ background-position:-125px -280px}
.boxbot .tly1 em.zjlx{ background-position:-154px -279px;}
.boxbot .tly1 em.zlxz{ background-position:-180px -279px;}
.boxbot .tly1 em.fxzl{ background-position:-206px -280px}
.boxbot .tly1 em.bdjw{ background-position:-236px -280px}
.boxbot .tly1 em.cytl{ background-position:-265px -280px}
.boxbot .blxshow{ float:left;}

.boxbot .tly2{ width:698px; float:left; border:#a4dbef solid 1px; border-top:none; border-bottom:none; background:#f9fdfe;padding:0px 0px 0px 15px;position:relative}

.dlmspkc{ width:203px; float:left;position:relative; margin-right:15px; display:inline}
.dlmspkc .pic{ width:203px; height:119px;float:left; position:relative}
.dlmspkc .pic img{ width:203px; height:119px; float:left}
.dlmspkc .pic span{ width:203px; line-height:25px; position:absolute; font-weight:bold; left:0; bottom:0;background:#000; filter: alpha(opacity=70); opacity: 0.8;color:#FFF; padding-left:20px; overflow:hidden; white-space:nowrap}
.dlmspkc a.bott{ width:64px; float:left; margin-top:10px; background:url(/static/images/portal/lm.png) -479px -335px repeat-x; display:block; float:left; cursor:pointer; position:relative;text-align:center; padding-left:20px; height:25px; line-height:24px; color:#F60;}
.dlmspkc a.bott:hover{background:url(/static/images/portal/lm.png) -479px -335px repeat-x;color:#F30;}
.dlmspkc a.bott span{ width:20px; height:20px; position:absolute; left:3px; top:0px}
.dlmspkc a.bott span.tk{background:url(/static/images/portal/lm.png) -90px -276px no-repeat;}
.dlmspkc a.bott span.qz{background:url(/static/images/portal/lm.png) -231px -275px no-repeat;}
.dlmspkc .blwith{ width:11px; height:10px; float:left;}
ul.evaluate{width:487px;float:left;overflow:auto; line-height:25px;height:160px}
ul.evaluate li{ width:433px; padding-left:25px; float:left; background:url(/static/images/portal/lm.png) -985px -248px no-repeat; white-space:nowrap; overflow:hidden; }
ul.evaluate li.title{ font-size:16px; font-family:"微软雅黑"; color:#fd7b22; background:none; padding-left:0px; height:35px; line-height:35px;}
ul.evaluate li span{float:left; display:block}
ul.evaluate li span.mianf{ width:39px; height:16px; float:left;background:url(/static/images/portal/lm.png) -348px -278px no-repeat; display:block; margin-left:10px; display:inline; margin-top:4px}
ul.evaluate li span.money{ width:9px; height:11px; background:url(/static/images/portal/lm.png) -401px -280px no-repeat; display:inline; margin-left:5px}

.boxb ul.evaluate{ width:470px}
.boxb ul.evaluate li{width:423px;}

.wypl{ width:100%; height:auto; float:left; border-bottom:#b7e6ed solid 2px; position:relative; margin-bottom:5px}
.wypl .cbnt1{ width:80px; height:33px; float:left; padding-left:18px; background:url(/static/images/portal/lm.png) -758px -405px; position:relative; margin-bottom:-5px; font: bold 14px/29px "宋体";color:#059}
.wypl .cbnt2{ float:right; padding-right:5px}
.wypl .cbnt1 a{ color:#097384}
.wypl .cbnt1 a:hover{ color:#d00}
.plname{width:100%;float: left;padding-top:3px; border-bottom:#d4d5d7 dotted 1px;}
.plname a{ width:99%; text-decoration:none;white-space:nowrap; overflow:hidden; float:left}
.plname .name {padding-right:5px;color: #369;font-size:12px;}

.lmzjzsd{ width:690px; float:left; border-bottom:#a5dbef dotted 1px}
.lmzjzsd .zjbtx{ width:674px; float:left; font:bold 12px/30px "宋体"; color:#333; text-align:left; padding-left:5px;background:url(/static/images/portal/gd.png) no-repeat -190px -1220px; padding-left:20px}
.lmgund{ width:710px; overflow:auto; float:left; overflow-x:hidden} 
.Treenonone{display:inline;float:left;display:block; float:left;color:#059; border:#f9fdff solid 1px;white-space:nowrap; font-weight:bold;}
.boxa ul.zsd{width:690px}
ul.zsd{ width:605px; float:left; font-size:12px; color:#333; line-height:21px; padding-top:2px; padding-bottom:5px; }
ul.zsd a{ color:#333; font-size:12px}
ul.zsd a:hover{ color:#d00}
ul.zsd li{ float:left; padding:0px 3px}
ul.zsd li a { display:block; padding:0px 10px; color:#097384; border:#f9fdff solid 1px; white-space:nowrap;background:url(/static/images/portal/gd.png) -195px -2276px no-repeat #f9fdfe; cursor:pointer}
ul.zsd li a:hover{background:#1d9ba0; border:solid 1px #048497; color:#FFF; text-decoration:none}
ul.zsd li a.zsdon{background:#059; border:solid 1px #059; color:#FFF}

.boxbot .tly2 .cytljl{ width:100%; float:left; font-size:14px; font-weight:bold}
.boxbot .tly2 .wyplk{ width:100%; float:left; margin-top:5px; margin-bottom:8px}
.boxbot .tly2 .wyplk .wysrk{ border:0px; margin:0px; padding:0px; width:580px; float:left; border:#bbe1ee solid 1px;box-shadow:2px 2px 2px #e4e4e4 inset; height:40px; line-height:25px}
.boxbot .tly2 .wyplk .bttom{ width:95px; height:42px; float:left; background:url(/static/images/portal/lm.png) 0px -347px; display:inline; margin-left:10px}
.boxbot .tly2 .wyplnws{ width:685px; float:left}
.boxbot .tly2 .wyplnws .plname { padding:8px 0px}
.boxbot .tly2 .wyplnws .plname a{ white-space:normal; overflow:visible}
.boxbot .tly2 .wyplnws .plname a:hvoer{ text-decoration:none}

.boxa .boxbot .tly2 .wyplnws{ width:700px;}
.boxa .boxbot .tly2 .wyplk .wysrk{ width:595px;}

/*节页面*/
.boxb{ width:734px; height:auto; float:left;position:relative; border-left:#fff solid 1px; margin-top:20px; text-align:left;}
.boxbot.nobotm{ border-bottom:none}
.j_boxtix{ width:100%; float:left; font:bold 12px/19px "宋体";}
.j_boxtix .j_tlx1{ width:100px; height:48px; float:left; background:url(/static/images/portal/lm.png) -102px -297px; position:relative; margin-bottom:-20px; padding-left:17px; text-align:center; color:#fff; font-size:14px; line-height:27px;}
.treemore{ width:660px; height:auto; float:left; border:#bae4f3 solid 1px; background:#ffffff; line-height:21px; padding:0px 10px 0px 10px; font-size:12px; color:#333; display:inline;position:relative; text-align:left;box-shadow:1px 1px 1px #e4e4e4 inset;}
.treemore .sjico{ width:13px; height:7px; position:absolute; left:80px; top:-1px; background:url(/static/images/portal/lm.png) -285px -287px; font-size:0}
.treemore span.zsdjs{ padding:5px 0px 5px 20px;background:url(/static/images/portal/gd.png) -185px -1258px no-repeat #FFF; color:#059; display:block; width:623px; position:absolute; top:5px}
.treemore span.wyywt{ position:absolute;top:3px; right:0px; padding-left:25px; padding-right:10px; background:url(/static/images/portal/gd.png) -180px -2748px no-repeat #FFF; z-index:55}
.treemore .treezsdn{ width:100%; overflow:auto;overflow-x:hidden; float:left; margin:10px 0px; display:inline; padding-top:25px}
.treemore .treezsdn p{ padding:0px; margin:0px}

.boxbot .tly2 .toptic,.boxbot .tly2 .botpic{ width:716px; height:15px; float:left; background:url(/static/images/portal/lm.png) -229px -298px; position:relative; margin-left:-16px; margin-right:-16px; display:inline}
.boxbot .tly2 .botpic{background:url(/static/images/portal/lm.png) -229px -313px;}
.boxbot .tly2 .boxw{ width:100%; height:auto; float:left; margin-top:10px}
.boxbot .tly2 .boxw .boxw_lf{ width:329px; float:left; margin-right:20px; display:inline; position:relative}

.boxa .tly2{ width:716px}
.boxa .boxbot .tly2 .toptic,.boxa .boxbot .tly2 .botpic{ width:734px;background:url(/static/images/portal/lm.png) 0px -409px;}
.boxa .boxbot .tly2 .botpic{background:url(/static/images/portal/lm.png) 0px -424px;}
.boxa .boxbot .tly2 .boxw{ margin-top:0px}
.boxa .boxbot .tly2 .boxw .boxw_lf{ width:338px;}


ul.cbox{ float:left; margin-top:5px; padding-left:5px;}
ul.cbox li{ float:left; width:308px; line-height:22px; padding-left:10px;background:url(/static/images/portal/gd.png) -197px -262px no-repeat; text-align:left; white-space:nowrap; overflow:hidden; }

.group{ width:99%; float:left; padding-top:10px; padding-left:3px}
.group .group_more{ float:left; position:relative}
.group .group_more a.group{ width:90px; height:90px; padding:3px; border:#bce5f3 solid 1px}
.group .group_more a.group:hover{border:#F90 solid 1px}
.group .group_more a.group img{ width:90px; height:90px}
.group .group_more .group_xx{ width:212px; float:left; padding-left:10px}
.group .group_more .group_xx .lrs{ float:left; width:100%}
.group .group_more a.group_bot{ width:86px; height:26px; position:absolute; bottom:3px; right:0px; background:url(/static/images/portal/lm.png) -99px -347px}
.group .group_sm{ float:left; position:relative; line-height:25px; margin-top:5px}

.boxb .group .group_more a.group{ width:50px; height:50px;}
.boxb .group .group_more a.group img{ width:50px; height:50px}
.boxb .group .group_more .group_xx{ width:252px;}
.boxb .group .group_more .group_xx .lrs{line-height:20px}


.boxbot .tly2 .boxy{ width:100%; height:auto; float:left;}
.boxbot .tly2 .boxy .boxy_lf{ width:329px; float:left; margin-right:19px; display:inline; position:relative}
.boxa .boxbot .tly2 .boxy .boxy_lf{ width:339px;}
.zxcs{ width:99%; height:auto; float:left; padding-left:3px} 
.zxcs .zxcs_top{ width:100%; float:left; padding-top:12px; border-bottom:#a5dbef dotted 1px; padding-bottom:12px}
.zxcs .zxcs_top a.zxcp_img{ width:81px; height:53px; float:left; background:url(/static/images/portal/lm.png) -195px -348px; display:block}
.zxcs .zxcs_top .zxcp_txt{ width:225px; float:left; padding-left:15px}
.zxcs .zxcs_top .zxcp_txt .zxtx1{ width:100%; float:left}
.zxcs .zxcs_top .zxcp_txt .zxtx1 span{ float:left}
.zxcs .zxcs_top .zxcp_txt .zxtx1 a.mf{ float:left; display:block; background:url(/static/images/portal/gd.png) -185px -1135px no-repeat; padding-left:20px; margin-left:15px;_display:inline}
.zxcs .zxcs_bot{width:100%; float:left; margin-top:10px; position:relative}
.zxcs .zxcs_bot .zxcs_bot_txt1{width:100%; font:bold 14px/30px "宋体"; color:#059; white-space:nowrap; overflow:hidden}
.zxcs .zxcs_bot .zxcs_bot_txt2{width:100%; float:left}
.zxcs .zxcs_bot .zxcs_bot_txt2 span{ padding-right:15px}
.zxcs .zxcs_bot a.zxcs_btm{ width:97px; height:27px; position:absolute; bottom:0px; right:0px;background:url(/static/images/portal/lm.png) -286px -337px}

ul.ebox{ float:left; margin-top:5px; width:99%; padding-left:5px;}
ul.ebox li{ float:left; width:83%; line-height:22px; padding-left:10px;background:url(/static/images/portal/gd.png) -197px -262px no-repeat; text-align:left; white-space:nowrap; overflow:hidden; }
ul.ebox li.date{width:10%; display:inline;background:none; color:#999;}

.mospkc{ width:99%; float:left; padding-top:10px; padding-left:3px}
.mospkc .mospkc_more{ width:100%; float:left; position:relative; border-bottom:#a4dbef dotted 1px; padding-bottom:10px}
.mospkc .mospkc_more a.mospkc{ width:155px; height:100px; padding:3px; border:#bce5f3 solid 1px}
.mospkc .mospkc_more a.mospkc:hover{border:#F90 solid 1px}
.mospkc .mospkc_more a.mospkc img{ width:155px; height:100px}
.mospkc .mospkc_more .mospkc_xx{ width:112px; float:left; padding-left:10px; position:relative;}
.mospkc .mospkc_more .mospkc_xx .lrs{ float:left; width:100%}
.mospkc .mospkc_more a.mospkc_bot{width:70px; float:left; border:#c4e9f6 solid 1px; margin-top:10px; background:url(/static/images/portal/gd.png) 0px -660px repeat-x; display:block; float:left; cursor:pointer;padding-left:40px; position:absolute; text-align:left;bottom:10px; left:173px; color:#059}
.mospkc .mospkc_more a.mospkc_bot span{ width:14px; height:9px; position:absolute; left:13px; top:8px}
.mospkc .mospkc_more a.mospkc_bot span.tk{background:url(/static/images/portal/gd.png) -186px -1142px no-repeat;}
.mospkc .mospkc_more a.mospkc_bot span.qz{background:url(/static/images/portal/gd.png) -28px -1806px no-repeat;}
.mospkc .mospkc_more a.mospkc_bot:hover{ color:#d00; text-decoration:none; background:#fff}



.mospkc .mospkc_sm{ float:left; position:relative; line-height:25px; margin-top:5px}

.scList{width:99%;height:auto;float:left; padding-left:3px;position:relative}
.scList .test-all{width:99%;height:auto;float:left;border-bottom:1px dotted #a4dbef; text-align:left; padding:5px 0px;position:relative}
.scList .test-all:hover{ background:#fff;}
.scList .test-all li{float:left;line-height:23px;width:100%;}
.scList .test-all li span.mole{ width:40px; text-align:center; color:#f50; padding-right:10px;}
.scList .test-all li span.xmd{ background:url(/static/images/portal/gd.png) -197px -267px no-repeat; width:10px; padding-right:10px;}
.scList .test-all .tite_1{width:99%;cursor:pointer;font-size:12px;overflow:hidden;white-space:nowrap; }
.scList .test-all .tite_1.ico a{color:#666;}
.scList .test-all .tite_2{width:96%;background:url(/static/images/portal/gd.png) -197px -262px no-repeat; cursor:pointer;font-size:12px;overflow:hidden;white-space:nowrap; padding-left:15px}

.scList .test-all li p{float:left;color:#999;margin:0px;margin-top:5px;width:100%;display:none; text-align:left;position:relative}
.scList .test-all li p em{color:#f50;font-style:normal;}
.scList .test-all.grey{border:1px solid #157fd9 #;background:#edf7ff;}
.scList .test-all li p .zlzt{ float:left}
.scList .test-all li p .ztrs{ float:left; padding-left:15px}
.scList .test-all li p .wltg{ float:right;}
.scList .test-all li p .wltg a{width:65px;text-align:center; padding-left:19px;  height:25px;background:url(/static/images/portal/lm.png) -391px -335px;color:#059; display:block; position:relative}
.scList .test-all li p .wltg a span{ position:absolute; width:16px; height:13px; left:7px; top:5px; background:url(/static/images/portal/lm.png) -206px -280px;}
.scList .test-all li p .wltg a span.xiazai{ background-position:-180px -280px;}
.scList .test-all li p .wltg a span.ceshi{ background-position:-304px -280px;}
.scList .test-all li p .wltg a:hover{color:#d00; text-decoration:none;background:url(/static/images/portal/lm.png) -479px -335px;}
.scList .test-all li p span.t-ico{ width:50px;width: 16px; height:18px; float:left; background:url(/static/images/portal/gd.png) -22px -997px}
.scList .test-all li p span.t-ico.doc{ background-position:-22px -997px}
.scList .test-all li p span.t-ico.ppt{ background-position:0px -997px}
.scList .test-all li p span.t-ico.pdf{ background-position:-92px -997px}
.scList .test-all li p span.t-ico.xsl{ background-position:-70px -997px}
.scList .test-all li p span.t-ico.rar{ background-position:-115px -997px}
.scList .test-all li p span.t-ico.txt{ background-position:-46px -997px}

.stzt{ width:320px; height:195px; float:left}
a.stzt{ width:320px; height:195px; padding:3px; border:#ddf4fc solid 1px; background:#ecf9ff}
a.stzt:hover{width:320px; height:195px;border:#ffd2a3 solid 1px;background:#fff}
a.stzt img{ width:320px; height:195px}

.wyname{width:98%;float: left; padding:13px 0px;border-bottom:#d4d5d7 dotted 1px; position:relative; }
.wyname a{text-decoration:none;}
.wyname .tiw { width:98%; padding-right:5px;font-size:12px; position:relative; float:left; display:block; font-size:14px;}
.wyname .tiw a{background:url(/static/images/portal/gd.png) -197px -266px no-repeat; padding-left:10px}
.wyname .wyask,.wyname .wyans{ width:14px; height:13px; position:absolute; left:0; top:5px; background:url(/static/images/portal/lm.png) -573px -341px}
.wyname .wyans{ background-position:-593px -341px;}

.wyname .huid{width:97%; padding-right:5px;color: #059;font-size:12px; position:relative; float:left; display:block; line-height:27px;}
.wyname .huid a{ color:#059}
.wyname .huid span{ color:#999; padding-left:5px}
.wyname .huidnr{width:99%;}
.wyname .huidnr{ width:660px; height:auto; float:left; border:#bae4f3 solid 1px; background:#ffffff; line-height:21px; padding:10px 10px 10px 10px; font-size:12px; color:#333; display:inline;position:relative; text-align:left;box-shadow:1px 1px 1px #e4e4e4 inset; margin-top:5px}
.wyname .huidnr .sjico{ width:13px; height:7px; position:absolute; left:20px; top:-6px; background:url(/static/images/portal/lm.png) -323px -280px; font-size:0}
.wyname .huidnr span.zsdjs{ padding:2px 0px 2px 20px;background:url(/static/images/portal/gd.png) -185px -1262px no-repeat; color:#059}
.wyname .huidnr a{ padding:0px 5px; color:#059}
.wyname .name {padding-right:5px;color: #369;font-size:12px; font-weight:bold}

ul.jnzt{ width:340px; height:auto; float:left; position:relative; margin-right:-40px; display:inline; padding-top:5px; line-height:24px}
ul.jnzt li{ float:left; width:100%;}
ul.jnzt li a{ padding-right:24px}
ul.jnzt li a.xiaz{ padding-left:20px; background:url(/static/images/portal/gd.png) -188px -2501px no-repeat}
ul.jnzt li a.zaixcs{ padding-left:20px; background:url(/static/images/portal/gd.png) -190px -2152px no-repeat}

ul.ztspkc{ width:99%; float:left; padding-left:3px; border-bottom:#c0e5f2 dotted 1px; padding-bottom:3px; padding-top:3px}
ul.ztspkc li{width:99%; float:left}
ul.ztspkc li.top1{ font-weight:bold}
ul.ztspkc li.top2{ color:#999}
ul.ztspkc li.top2 span{ padding-right:10px; float:left}
ul.ztspkc li.top2 a.stico{ padding-left:25px; background:url(/static/images/portal/gd.png) -186px -1133px no-repeat; float:right; color:#059}
ul.ztspkc li.top2 a.stico:hover{ color:#d00}

.liebiao { border-top: 2px solid #1287CC;float: left;font-family: "宋体";font-size: 12px; height: auto;margin-top: 10px; width: 580px;}
.con_box1{ float:left}
.con_box1 dd,.con_box1 dl{ padding:0px; margin:0px; border:0px; float:left}
.con_box1 .line { border-bottom: 1px dotted #DDDDDD;}
.con_box1 .sfhover {padding:15px 0px; width:680px; float:left}
.con_box1 .sfhover dd .t1b,.con_box1 .sfhover dd.t1b {background: url("/static/images/portal/wd.png") no-repeat -70px -130px;color: #009900;font-size: 16px;height: 35px;
line-height: 35px; position: relative; text-align: center;width: 66px;z-index: 5;}
.sfhover .mar { margin: 0 13px 0 0;}
.sfhover dd.t2 { display: inline; float: left; font-size: 14px;font-weight: bold; line-height: 25px; margin: 0; padding: 0; width:580px; }
.sfhover dd.t2 a, .sfhover dd.t2 a:hover { color:#097384;}
.sfhover dd.t2 b span.bb, .sfhover dd.t2 span.bb { background: url("/static/images/portal/wd.png") no-repeat scroll -240px -296px ; color: #999999;    font-family: Microsoft YaHei,微软雅黑;font-weight: normal;padding-left: 20px;position: relative; white-space: nowrap;}
.bb { font-weight: bold;margin-right: 5px;}
.sfhover dd.t2 span.bbb { background: url("/static/images/portal/wd.png") no-repeat -73px -329px;}
.sfhover dd.t2 b span.bb, .sfhover dd.t2 span.bb {background: url("/static/images/portal/wd.png") no-repeat -240px -296px ;color: #999999; font-family: Microsoft YaHei,微软雅黑;font-weight: normal;padding-left: 20px;position: relative; white-space: nowrap;}
.bbb {font-weight: bold;}
.sfhover dd.t2 span.bb a, .sfhover dd.t2 span.bb a:hover {color: #999999;}
.sfhover dd.t2 b { color: #999999; display: inline; float: left; font-family: "Arial" !important; font-size: 12px; font-weight: 400; margin: 3px 0 0; overflow: hidden; padding: 0; width: 480px; }
.sfhover dd.t2 a, .sfhover dd.t2 a:hover {color: #0078B6;}
.poptip {height: 160px;position: absolute; width: 278px;}
.sfhover dd.t2 .batop { float: right; font-size: 1px; height: 1px; line-height: 1px; }
.sfhover dd.t2 .batop1 { border-left: 1px solid #F5F5F5; width: 560px; }
.sfhover dd.t2 .batop2 { border-left: 3px solid #F5F5F5; width: 559px; }
.sfhover dd.t2 .batop3 { border-left: 5px solid #F5F5F5; width: 558px; }
.sfhover dd.t2 .batop4 { border-left: 7px solid #F5F5F5; width: 557px; }
.sfhover dd.t2 .batop5 { border-left: 9px solid #F5F5F5; width: 556px; }
.sfhover dd.t2 .batop6 { border-left: 11px solid #F5F5F5; width: 555px; }
.sfhover dd.t2 .batop7 { border-left: 13px solid #F5F5F5; width: 554px;}
.sfhover dd.t2 .batop8 { border-left: 15px solid #F5F5F5;width: 553px;}
.sfhover dd.t2 .batop9 { border-left: 17px solid #F5F5F5; width: 552px;}
.sfhover dd.t2 .ba { background: none repeat scroll 0 0 #F5F5F5;color: #444444;float: left; font-size: 12px;font-weight: normal;line-height: 22px; padding: 5px 8px;width: 576px;}
.sfhover dd.t2 .ba a, .sfhover dd.t2 .ba a:hover {float: none;}
.sfhover dd.t2 a, .sfhover dd.t2 a:hover { color: #0078B6;}
