.layer-exam{color:#000;-o-user-select:none;-moz-user-select: none;-khtml-user-select: none;-webkit-user-select: none;user-select: none;}

/*fix for firefox 3.6 or lower*/
@-moz-document url-prefix() {
.layer-exam .top .close{top:8px;right:8px;}
}

/*fix for ie8 with colspan attr.*/
.layer-exam .top,.layer-exam .bottom{width:auto;}
.layer-exam .left,.layer-exam .right{width:11px;}
.layer-exam .center{width:1240px;vertical-align:top;}

/*stoped*/
.stoped{background:url(../../images/exam/stoped.jpg) no-repeat center center;width:826px;height:506px;}
.stoped .wrap{padding:212px 0 0 350px;}
.stoped .time{font-size:25px;color:#c00;padding-left:120px;}
.stoped p{margin-bottom:20px;}

/*icon*/
.icon-book,.icon-ask,.icon-quiz,.icon-reply,.icon-flag,.icon-unflag,.icon-go,.icon-dot-green,.icon-dot-red,.icon-error,.icon-ok,.icon-error-l,.icon-ok-l,.icon-ask-for,.icon-reply-to{display:inline-block;width:16px;height:16px;vertical-align:middle;margin-right:3px;background-image:url(../../images/exam/icon.png);background-repeat:no-repeat;}
.icon-book{background-position:0 0;}
.icon-ask{background-position:-17px 0;}
.icon-quiz{background-position:-34px 0;}
.icon-reply{background-position:-51px 0;}
.icon-flag{background-position:-68px 0;}
.icon-unflag{background-position:-170px 0;}
.icon-go{background-position:-85px  0;}
.icon-dot-green{background-position:-102px 0;}
.icon-dot-red{background-position:-119px 0;}
.icon-error{background-position:-153px 0;}
.icon-ok{background-position:-136px 0;}

.icon-error-l{width:28px;height:28px;background-position:right 0;}
.icon-ok-l{width:28px;height:28px;background-position:right -29px;}

.icon-ask-for{width:20px;height:18px;background-position:0 -262px;}
.icon-reply-to{width:20px;height:18px;background-position:0 -281px;}

/*button*/
.btn-keep,.btn-close,.btn-buy-time{width:105px;height:30px;}
.btn-keep{background-position:0 -62px;}  /*继续学习*/
.btn-close{background-position:0 -93px;}  /*关闭窗口*/
.btn-buy-time{background-position:0 -124px;}  /*购买学时*/
.btn-prev,.btn-next,.btn-prev-end,.btn-prev-end{width:84px;height:30px;}
.btn-prev{background-position:0 0;}
.btn-next{background-position:0 -31px;}
.btn-prev-end{background-position:-300px 0;}
.btn-next-end{background-position:-300px -31px;}

.btn-prev-end,.btn-next-end{cursor:not-allowed;}

.btn-analyze,.btn-remove-all,.btn-remove{width:120px;height:36px;}
.btn-analyze{background-position:0 -900px;}
.btn-remove-all{background-position:0 -937px;}
.btn-remove{background-position:0 -974px;}

.btn-goto{width:89px;height:23px;background-position:0 -626px;}

.btn-reply{width:68px;height:25px;background-position:0 -600px;}

.btn-gray{display:inline-block;height:30px;line-height:30px;color:#333;text-align:center;padding-left:20px;background-position:0 -238px;font-size:14px;font-weight:bold;vertical-align:middle;}
.btn-gray span{display:block;background-position:right -269px;padding-right:20px;}

.btn-gray-s,.btn-gray-s-disabled{display:inline-block;height:25px;line-height:25px;color:#333;text-align:center;padding-left:20px;background-position:0 -848px;font-size:12px;font-weight:bold;}
.btn-gray-s span,.btn-gray-s-disabled span{display:block;background-position:right -874px;padding-right:20px;}


/*exam*/
.exam-desc,.exam-opt{width:100%;margin-bottom:10px;}
.exam-desc .hd,.exam-opt .hd{position:relative;z-index:1;margin:5px 0 10px 0;}
.exam-desc .hd h3,.exam-opt .hd h3{font-size:14px;font-weight:bold;color:#000;}
.exam-desc .hd .more{position:absolute;z-index:1;right:0;top:0;}
.exam-desc .hd .more strong{font-weight:bold;font-size:14px;}
.exam-desc .bd,.exam-opt .bd{overflow-y:scroll;}

.exam-desc .bd,.exam-opt .bd{height:98px;border:1px solid #CCCCCC;padding:10px;font-size:14px;}
.exam-opt .bd{height:238px;}

.main-exam{width:100%;height:100%;}

.exam-list li{padding-bottom:10px;text-indent:-40px;margin-left:40px;}
.exam-list li em{padding:0 5px;}

.exam-nav{margin:10px 0;}

/*选择试题*/
.select{margin-left:-10px;margin-right:-10px;background-color:#E6F0F4;height:100%;}
.select .hd{height:30px;line-height:30px;text-align:right;padding-right:10px;}
.select-left{width:48%;display:inline-block;padding-left:10px;vertical-align:top;}
.select-right{width:48%;display:inline-block;vertical-align:top;}

.select-menu{margin-top:10px;}
.select-menu h4{font-weight:bold;font-size:12px;margin-bottom:5px;}
.select-menu h4 em{color:#369;margin-left:10px;}
.select-menu h4 span{margin-right:40px;}

.tab-head{background-color:#99BFDE;color:#fff;padding:5px 0;}
.tab-head span{width:18.5%;display:block;float:left;font-weight:bold;text-align:center;}
.tab-body{overflow-y:scroll;height:420px;background-color:#F4F7FB;}
.tab-body table{width:100%;}
.tab-body .t1{width:20%;text-align:left;}
.tab-body .t2{width:20%;}
.tab-body .t3{width:15%;}
.tab-body .t4{width:20%;}
.tab-body .t5{width:20%;}
.tab-body td{padding:8px 0;text-align:center;}
.tab-body .even{background-color:#EAF3FB;}
.tab-body tr:hover,.tab-body .cur{background-color:#DAEDFA;}

.tab-body a{color:#333;}

.select-detail{background-color:#FFF;border:1px solid #B6D1E4;height:440px;margin-top:10px;padding:10px;position:relative;}
.select-detail .desc{margin-top:10px;margin-bottom:20px;color:#333;}
.select-detail .key{}
.select-detail .key p{margin-bottom:10px;margin-left:10px;}
.select-detail .addon{position:absolute;top:5px;right:5px;}


.select-result{margin-top:10px;margin-bottom:-5px;}
.error-tip{font-weight:bold;margin:10px 0;}

/*章节切换*/
.chage{padding:10px;height:450px;overflow-y:auto}
.chage table{background-color:#FFF;border:1px solid #B6D1E4;width:100%;}
.chage td{padding:5px;}
.chage .t1{}
.chage .even{background-color:#F4FAFF;}
.chage tr:hover,.chage .cur{background-color:#DAEDFA;}
.chage .btn-gray-s{font-weight:normal;color:#666;}


/*全屏幕*/
.exam_layer{
	width: 100%;
	height:100%;
	overflow:hidden;
}
.layer-exam {
	width: 100%;
	height:100%;
	overflow:hidden;
}