
.layer-exam{margin:0px;padding:0px;color:#000;-o-user-select:none;-moz-user-select: none;-khtml-user-select: none;-webkit-user-select: none;user-select: none;}
.layer-exam .top .btn-gray,.layer-exam .top .close,.layer-exam .top .btn-gray span,.layer-exam .top .stop,.btn-keep,.btn-close,.btn-buy-time,.btn-gray,.btn-gray span,.btn-prev,.btn-prev-end,.btn-next,.btn-next-end,.btn-analyze,.btn-remove-all,.btn-remove,.btn-goto,.btn-reply,.btn-gray-s,.btn-gray-s span,.btn-gray-s-disabled,.btn-gray-s-disabled span{display:inline-block;vertical-align:middle;background-image:url(/static/images/exam/button.png);}

.layer-exam .top{position:relative;width:100%;height:0px;background:url(/static/images/exam/top.png);background-repeat:repeat-x;}
.layer-exam .top .exam_title{margin-left:20px;}
.layer-exam .top h1,.layer-exam .top h2{
	background: url("/static/images/exam/h1.png") no-repeat scroll 0 0 transparent;
	width:205px;
	height:45px;
	display:inline-block;
	font-size:0;
	background-repeat:no-repeat;

}

.input_sbubmit{
    background: url("/static/images/exam/index_input_bg_05.png") no-repeat -133px -39px;
    width:80px;
    height:28px;
    border:0 none;
    cursor:pointer;
    margin:0 8px 0 0;
    color:#8D1F04;
    font-weight:bold;
    font-size:14px;
    line-height:28px;
    vertical-align:middle;
    padding-top:0;
}

.layer-exam .top h2{
	background:url(/static/images/exam/h2.png) no-repeat;
	width:205px;
	height:45px;
}
.layer-exam .change_chapter span{
	position:absolute;width:105px;top:34px;right:240px;
	background:url(/static/images/exam/button.png);
	background-position: right -278px;
    display: block;
}

.layer-exam .top .aside{position:absolute;top:0px;right:0px;}
.layer-exam .top .aside .btn-gray{position:absolute;top:40px;right:300px;width:100px;height:22px;}

.layer-exam .top .btn-gray{display:inline-block;height:20px;line-height:20px;color:#000;text-align:center;padding-left:10px;background-position:0 -300px;font-size:12px;font-weight:normal;}
.layer-exam .top .btn-gray span{display:block;background-position:right -328px;padding-right:10px;}
.layer-exam .top .time{display:inline-block;position:absolute;width:211px;height:38px;top:6px;right:18px;line-height:42px;background:url(/static/images/exam/time.png) no-repeat;vertical-align:-2px;color:#fff;font-size:16px;}
.layer-exam .top .time .num{padding-left:110px;font-family:Arial;}
.layer-exam .top .stop{position:absolute;top:9px;right:2px;display:inline-block;width:34px;height:26px;background-position:0 -384px;font-size:0;}
.layer-exam .top .stop:hover{background-position:-150px -384px;}

/*fix for firefox 3.6 or lower*/
@-moz-document url-prefix() {
.layer-exam .top .close{top:8px;right:8px;}
} 

.layer-exam .left,.layer-exam .right{width:11px;background:url(/static/images/exam/left.png) left top repeat-y;}
.layer-exam .right{background:url(/static/images/exam/right.png) repeat-y;}
.layer-exam .bottom{width:100%;height:11px;background:url(/static/images/exam/bottom.png)}

/*fix for ie8 with colspan attr.*/
.layer-exam .top,.layer-exam .bottom{width:auto;}
.layer-exam .left,.layer-exam .right{width:11px;}

/*stoped*/
.stoped{background:url(/static/images/exam/stoped.jpg) no-repeat center center;}
.stoped .wrap{padding:212px 0 0 350px;}
.stoped .time{font-size:25px;color:#c00;padding-left:120px;}
.stoped p{margin-bottom:20px;}

/*time is up*/
.time-up{background:url(/static/images/exam/time-up.jpg) left top no-repeat;}
.time-up .wrap{padding:202px 0 0 353px;}
.time-up .tel{font-size:26px;color:#D94A4B;padding-left:110px;}
.time-up p{margin-bottom:20px;}

/*icon*/
.icon-book,.icon-ask,.icon-quiz,.icon-reply,.icon-flag,.icon-unflag,.icon-go,.icon-dot-green,.icon-dot-red,.icon-error,.icon-ok,.icon-error-l,.icon-ok-l,.icon-ask-for,.icon-reply-to{display:inline-block;width:16px;height:16px;vertical-align:middle;margin-right:3px;background-image:url(/static/images/exam/icon.png);background-repeat:no-repeat;}
.icon-book{background-position:0 0;}
.icon-ask{background-position:-17px 0;}
.icon-quiz{background-position:-34px 0;}
.icon-reply{background-position:-51px 0;}
.icon-flag{background-position:-68px 0;}
.icon-unflag{background-position:-170px 0;}
.icon-go{background-position:-85px  0;}
.icon-dot-green{background-position:-102px 0;}
.icon-dot-red{background-position:-119px 0;}
.icon-ok{background-position:-136px 0;}
.icon-error{background-position:-153px 0;}

.icon-error-l{width:28px;height:28px;background-position:right 0;}
.icon-ok-l{width:28px;height:28px;background-position:right -29px;}

.icon-ask-for{width:20px;height:18px;background-position:0 -262px;}
.icon-reply-to{width:20px;height:18px;background-position:0 -281px;}

/*button*/
.btn-keep,.btn-close,.btn-buy-time{width:105px;height:30px;}
.btn-keep{background-position:0 -62px;}  /*继续学习*/
.btn-close{background-position:0 -93px;}  /*关闭窗口*/
.btn-buy-time{background-position:0 -124px;}  /*购买学时*/
.btn-prev,.btn-next,.btn-prev-end,.btn-prev-end{width:84px;height:30px;}
.btn-prev{background-position:0 0;}
.btn-next{background-position:0 -31px;float:right;margin-right:40px;}
.btn-prev-end{background-position:-300px 0;}
.btn-next-end{background-position:-300px -31px;}

.btn-prev-end,.btn-next-end{cursor:not-allowed;}

.btn-analyze,.btn-remove-all,.btn-remove{width:120px;height:36px;}
.btn-analyze{background-position:0 -900px;}
.btn-remove-all{background-position:0 -937px;}
.btn-remove{background-position:0 -974px;}

.btn-goto{width:89px;height:23px;background-position:0 -626px;float:left;}

.btn-reply{width:68px;height:25px;background-position:0 -600px;}

.btn-gray{display:inline-block;height:30px;line-height:30px;color:#333;text-align:center;padding-left:20px;background-position:0 -238px;font-size:14px;font-weight:bold;vertical-align:middle;}
.btn-gray span{display:block;background-position:right -269px;padding-right:20px;}

.btn-gray-s,.btn-gray-s-disabled{display:inline-block;height:25px;line-height:25px;color:#333;text-align:center;padding-left:20px;background-position:0;font-size:12px;font-weight:bold;}
.btn-gray-s span,.btn-gray-s-disabled span{display:block;background-position:padding-right:20px;}

.btn-gray-s-disabled{background-position:0 -744px;color:#ccc !important; cursor:not-allowed;}
.btn-gray-s-disabled span{background-position:right -770px;}

/*exam*/
.exam-desc,.exam-opt{width:auto;height:auto;margin-bottom:0px;}
.exam-desc .hd,.exam-opt .hd{position:relative;margin:5px 0 10px 0;}
.exam-desc .hd h3,.exam-opt .hd h3{font-size:14px;font-weight:bold;color:#000;}
.exam-desc .hd .more{position:absolute;right:0;top:0;}
.exam-desc .hd .more strong{font-weight:bold;font-size:14px;}
.exam-desc .bd,.exam-opt .bd{overflow-y:scroll;}
.exam-desc .analysis{background-color:#C6E2FF;margin-top:30px;}
.exam-desc .bd,.exam-opt .bd{height:auto;width:auto;padding:15px;color:black;font-size:18px;}

.main-exam{width:100%;height:100%;background-color:#FAF8B1;}
.main-exam .main{width:50%;padding-left:10px;padding-right:10px;vertical-align:top;}
.mainright{background-color:#FAF8B1;}
.main_left{background-color:#ccc;filter:Alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7;}

.exam-list li{padding-bottom:10px;text-indent:-40px;margin-left:40px;cursor:pointer;}
.exam-list li em{padding:0px 10px 10px 10px;}

/*选中*/
.answer-selected{padding:0px 10px 8px 10px;background: url(/static/images/exam/selected.png);}

.exam-nav{margin:10px 10px;height:10px;}
.exam-info{margin-top:30px;margin-left:10px;}
.exam-info ul,.analyze ul{margin-bottom:20px;}
.exam-info li,.analyze li{padding-bottom:10px;font-weight:bold;color:#336699;}
.exam-info li em,.analyze li em{color:#000;}
.exam-info .btn-analyze,.exam-info .btn-remove-all,.exam-info .btn-remove{margin-left:-10px;}
.question-type{font-size:15px;float:right;margin-right:240px;}
.title-info{margin-top:30px;font-size:16px;font-weight:700;color:#fff;}

/*专家解析*/
.analyze{}
.analyze .hd{height:30px;line-height:30px;text-align:right;padding-right:10px;background:url(/static/images/exam/t-analyze.png) no-repeat;}
.analyze .hd a,.select .hd a{color:#E0E9F2;}
.analyze .bd{margin-top:10px;margin-left:10px;}
.analyze-info{height:220px;}
.analyze li{font-size:14px;}
.analyze-info h3{border-bottom:1px solid #E1EDF2;font-weight:bold;margin-bottom:5px;padding-bottom:5px;}
.analyze-info .info{border-top:1px solid #fff;height:100%;overflow-y:auto;line-height:1.5;padding-right:10px;}

/*选择试题*/
.select{margin-left:-10px;margin-right:-10px;background-color:#E6F0F4;height:100%;}
.select .hd{height:30px;line-height:30px;text-align:right;padding-right:10px;}
.select-left{width:48%;display:inline-block;padding-left:10px;vertical-align:top;}
.select-right{width:48%;display:inline-block;vertical-align:top;}

.t-select{background:url(/static/images/exam/t-select.png) no-repeat;}
.t-result{background:url(/static/images/exam/t-result.png) no-repeat;}
.t-ask{background:url(/static/images/exam/t-ask.png) no-repeat;}
.t-change{background:url(/static/images/exam/t-change.png) no-repeat;}

.select-menu{margin-top:10px;}
.select-menu h4{font-weight:bold;font-size:12px;}
.select-menu h4 em{color:#369;margin-left:10px;}
.select-menu h4 span{margin-right:40px;}

.tab-head{background-color:#99BFDE;color:#fff;padding:5px 0;}
.tab-head span{width:18%;display:block;float:left;font-weight:bold;font-size:14px;text-align:center;}
.tab-body{overflow-y:scroll;height:525px;background-color:#F4F7FB;}
.tab-body table{width:100%;}
.tab-body .t1{width:20%;text-align:left;}
.tab-body .t2{width:20%;}
.tab-body .t3{width:20%;}
.tab-body .t4{width:20%;}
.tab-body .t5{width:20%;}
.tab-body td{padding:8px 0;text-align:center;}
.tab-body .even{background-color:#EAF3FB;}
.tab-body tr:hover,.tab-body .cur{background-color:#DAEDFA;}

.tab-body a{color:#333;}

.select-detail{background-color:#FFF;border:1px solid #B6D1E4;height:440px;margin-top:10px;padding:10px;position:relative;}
.select-detail .desc{margin-top:10px;margin-bottom:20px;color:#333;}
.select-detail .key{}
.select-detail .key p{margin-bottom:10px;margin-left:10px;}
.select-detail .addon{position:absolute;top:5px;right:5px;}

.select-result{margin-top:10px;margin-bottom:-5px;}
.error-tip{font-weight:bold;margin:10px 0;}


/*exit*/
.exit-tip{padding:30px 0 30px 140px;}
.exit-tip strong{font-weight:bold;font-size:14px;color:#000;}
.exit-tip p{margin-bottom:10px;}
.exit-tip .icon-sina{margin-left:-5px;}


/*hover*/
.layer-exam .top .btn-gray:hover,.btn-gray:hover,.tab-body a:hover,.btn-gray-s:hover,.btn-gray-s-disabled:hover{text-decoration:none;}

/*fix for ie7-*/
.layer-exam .top h1,.layer-exam .top h2,.layer-exam .top .btn-gray,.layer-exam .top .time,.select-left,.select-right{*display:inline;*zoom:1;}
.layer-exam .top .stop,.btn-keep,.btn-close,.btn-buy-time,.btn-prev,.btn-prev-end,.btn-next,.btn-next-end,.btn-analyze,.btn-remove-all,.btn-remove,.btn-goto,.btn-reply{font-size:0;*zoom:1;-webkit-text-size-adjust:none;}
.select-left,.select-right{_width:47%;}

.btn-gray{zoom:1}
.btn-gray span{*display:inline-block;}


/*全屏幕*/
.exam_layer{
	width: 100%;
	height:100%;
	overflow:hidden;
}
.layer-exam {
	width: 100%;
	height:100%;
	overflow:hidden;
}