a{
padding:4px;
color:#333333;
text-decoration:none;
line-height:30px;
}
a:hover{
background-color:#CCC;
}
#nav_menu a{
padding:0px;
line-height:0px;
}
.selected{width:26px;height:26px;padding-top:8px;padding-left:12px;padding-bottom:5px;padding-right:5px;background-image:url(/static/images/exercise/selected.png);}
.select{width:26px;height:26px;padding-top:5px;padding-left:6px;padding-bottom:5px;padding-right:5px;}
body,td,th {
	font-size: 14px;
	font-family:   Lucida   Sans   Unicode,Verdana;  
}
body {
	background-color:#FAF8B1;
	margin:0px;
	height:100%;
}
html{
overflow-x:hidden; 
}
.correct{
top:50%;left:50%;position:absolute;z-index:0;visibility:hidden;width:204px;height:195px;
background-image:url(/static/images/exercise/correct.png);
*background-image:url('');
/* _background-image:url(/images/correct_none.png); */
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=corp,src="/static/images/exercise/correct.png");
}
.wrong{
top:50%;left:50%;position:absolute;z-index:0;visibility:hidden;width:204px;height:195px;
background-repeat:no-repeat;
background-image:url(/static/images/exercise/wrong.png);
*background-image:url('');
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=corp,src="/static/images/exercise/wrong.png");
}

p{display:inline;}
h1{color:red;display:none;}/* 选择题答案 */
h2{width:92%;background-color:#ffffff;display:none; font-size:16px;font-weight:normal;border-color:#FFFFFF; border-style:solid; border-width:8px;outline: #CCCCCC solid 1px;} /* 解析 */
h3{color:red;display:none;} /* 填空题答案 */
h4,h5{ /* 公共题干 */
border-color:#33CCFF; 
background-color:#eeeeee;
border-style:solid; 
border-width:1px; 
border-top-width:0px; 
padding:5px;
font-family:'楷体_GB2312';
font-weight:normal;
display:block;
margin-top:0px;
width:92%;
}

.pre_question{width:48.5%; height:93%; background-color:#303030;position:absolute; z-index:0;top:30px; left:0px;filter:Alpha(Opacity=30);-moz-opacity:0.3;opacity:0.3;}

.buttons{
position:absolute;
top:85%;
left:93%;
background-image:url(/static/images/exercise/button.png);
	border:medium none;
	color:#FFFFFF;
	cursor:pointer;
	font-size:12px;
	height:23px;
	line-height:25px;
	width:64px;
	font-weight:bold;
}
#nextQuestion{
	position:absolute;
	top:85%;
	left:85%;
}
#remind{color:#FFFFFF;width:100%;height:28px;line-height:33px;overflow:hidden;background:url(/static/images/exercise/reminder_bg.png) 0 0 repeat-x;}
.toolbar{background:url(/static/images/exercise/tool_bar_bg.png) 0 0 repeat-x;width:100%;height:28px;line-height:28px;color:#666666;overflow:hidden;}
.toolbar_font{_vertical-align:bottom;}
.t_select{
_margin-top:3px;vertical-align:middle;width:55px;color:#66666;}
.stem_title{/* 公共题干上面的收缩条 */
background-color:#CCFFFF; border-color:#33CCFF; border-style:solid; border-width:1px;
font-size:12px; width:94%;;
}
img{cursor:pointer;border-width: 0px 0px 0px 0px}

#bottom_line{
	position:absolute;
	top:45px;
	left:75%;
	font-size:12px;
	color:blue;
	cursor:pointer;
}
/* 按比例缩小图片，最大宽度为450px */
.thumbImage{
max-width:450px;
}
*html .thumbImage{
width:expression(this.width>450&&this.width>this.height?450: auto);
}
/* 设置自动换行 */
div{ word-wrap: break-word; word-break: normal; }
/* 鼠标右键提示 */
#tips_line{
	position:absolute;
	top:80%;
	right:5px;
	font-size:12px;
	background-color:#FC6;
	border:#666 solid 1px;
	padding:3px;
}
.reshow_tip{
	position:absolute;
	top:80%;
	right:5px;
	font-size:12px;
	background-color:#FC6;
	border:#666 solid 1px;
	padding:3px;
}
.wrong_tips{
	font-size:12px;
	border:#666 solid 1px;
	width:150px;
	background-color:#FFDFDF;
	margin-top:5px;
}
#note{
	position:absolute;bottom:58px;left:50px;font-size:12px;
	font-size:12px;
	background-color:#FC6;
	border:#666 solid 1px;
	padding:3px;
	visibility:hidden;
}
.font12{font-size:12px;}