@charset "utf-8";
/* CSS Document */

body{
	padding:0;
	margin:0;
	background-color:#F5F7E8;
	color:#6C7173;
	font-family:Verdana,"宋体", Arial,Sans;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}
img{
	border:0px;
}
.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}
#left{
	width:300px;
	float:left;
	margin-top:13px;
	border-style:outset;
}
#left h3{
	font-family:"宋体";
	font-weight:bold;
	font-size:14px;
	color:#454545;
	line-height:30px;
	display:block;
	text-indent:33px;
}
#left ul{	
	padding:8px 0 0px 32px;
	margin:0;
}
#left ul li{
	display:inline;
	line-height:30px;
	font-size:12px;
}
#left ul li a{
	background-image:url(/static/images/common/line.png);
	background-position:right;
	background-repeat:no-repeat;
	padding:0 15px 0 0;
	color:#6C7173;
	text-decoration:none;
}
#left ul li a:hover{
	color:#3399FF;
}
.catetab{
	background-image:url(/static/images/common/tab.png);
	float:left;
	width:300px;
}
#left span{
	margin-left:8px;
	padding:1px 0 1px 24px;
	background-image:url(/static/images/common/bullet.gif);
	background-repeat:no-repeat;
}
.Left_title {
    background: url("/static/images/course/tab.png") no-repeat;
    clear: both;
    display: inline;
    float: left;
    height: 43px;
    line-height: 43px;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    width: 648px;
    z-index: 2;
}
.Left_title .title {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("/static/images/course/fix.png") no-repeat #FFFFFF;
    border-color: #13928D  #13928D -moz-use-text-color;
    border-left: 1px solid #13928D ;
    border-right: 1px solid #13928D;
    border-style: solid solid none;
    border-width: 3px 1px 0;
    color: #003366;
    display: inline;
    float: left;
    font: bold 18px/35px "微软雅黑","宋体,";
    height: 35px;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0 15px 0 20px;
    text-align: center;
    width: auto;
}
.Left_title .mored {
    color: #FFFFFF;
    display: inline;
    float: left;
    font: 12px/40px "宋体";
    height: 40px;
    margin-right: 5px;
    margin-top: 2px;
    padding-left: 10px;
    width: auto;
}