/* CSS Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,table,tr,th,td,embed,object,em,hr,span,header,hgroup,nav,aside,footer,figure,figcaption,time,details,summary{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,abbr{border:0;}address,caption,cite,code,dfn,i,em,h1,h2,h3,h4,h5,h6,th,var{font-style:normal;font-weight:normal;}ul{list-style:none;}caption,th{text-align:left;}q:before,q:after{content:'';}a,ins{text-decoration:none;}cite{display:block;font-size:12px;font-style:italic;text-align:right;}textarea{overflow:auto;}img{border:0;}input,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
header,hgroup,nav,aside,section,footer,article,figure,figcaption,details,summary{display:block;}
.clearfix { zoom: 1; }
.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

body{ font-family:"microsoft yahei",Tahoma,Arial;min-width:960px; font-size:12px;line-height:1.5;color:#666;}
input{vertical-align:middle;}
input[type=checkbox]{vertical-align:-3px;}
input[type=radio]{vertical-align:-2px;}
select{padding:5px;font-size:14px;margin-left:0px;}
mark{color:#f00;font-weight:bold;background-color:transparent;}
a{color:#0090F0;}
a:hover{color:#06c;text-decoration:underline;}
::selection { background: #9ECF69; color:#fff;  }
::-moz-selection { background: #9ECF69; color:#fff; }
.desc{line-height:1.5;}
.simsun{font-family:simsun;}
.countdown{font-family:Georgia,Tahoma,Arial;}
.mr-10px{margin-right:-1.5%;}
.pos-r{position:relative;}
.pos-a{position:absolute;}
.f-r{float:right;}
.f-l{float:left;}
.red{color:#c00 !important;}
.green{color:#329900 !important;}
.gray{color:#999 !important;}
.black{color:#000 !important;}
.orange{color:#FF8A0C !important;}
.blue{color:#06c !important;}
.b-t{border-top:1px solid #DEDEDE;}
h1,h2,h3,h4,h5,h6{font-size:1.2em;}
.cur-position{border-bottom:1px solid #E6E6E6;padding:7px 0 5px;margin-bottom:10px;}
/*引用图片sprite*/
/*按钮*/
.btn-allow,.btn-allow span,.btn-submit,.btn-submit span,.btn-deny,.btn-deny span,.btn-cancel,.btn-cancel span,.btn-cyan,.btn-cyan span,.btn-red,.btn-red span,.btn-submit-disabled,.btn-submit-disabled span,.btn-blue,.btn-blue span{background-image:url(../../images/common/buttons.png);background-repeat:no-repeat; cursor:pointer; }




.mini-nav .w,.main-nav .w,.main-header .w,.w{width:960px;margin:0 auto;}

.article-bg{background:url(../../images/common/article-bg.jpg) 0 bottom repeat-x;}
.index-bg{background-position: 0 0;}
article.w{padding:10px 0;min-height:360px;}


/*两栏框架结构*/
.main-mode{width:740px;}
.side-mode{width:200px;}

.b-l{border-left:1px solid #DEDEDE;padding-left:1%;}


/*按钮*/
.btn-allow{display:inline-block;padding-right:10px;background-position:right -86px;}
.btn-allow span{display:block;height:23px;line-height:23px;padding-left:10px;background-position:left -62px;}
.btn-allow:active{background-position:right -388px;}
.btn-allow:active span{background-position:left -364px;}

.btn-allow,.btn-submit,.btn-blue{color:#fff;text-shadow:0 -1px 0 #DC6300;}
.btn-allow:hover,.btn-submit:hover,.btn-red:hover,.btn-blue:hover{opacity:0.9;color:#fff;}


.btn-allow:active,.btn-submit:active,.btn-allow span:active,.btn-submit span:active,.btn-deny:active,.btn-cancel:active,.btn-deny span:active,.btn-cancel span:active{ }

.btn-submit{display:inline-block;padding-right:20px;background-position:right -31px;}
.btn-submit span{display:block;height:30px;line-height:30px;padding-left:20px;background-position:left 0;font-size:14px;font-weight:bold;}
.btn-submit:active{background-position:right -333px;}
.btn-submit:active span{background-position:left -302px;}

.btn-cancel{display:inline-block;padding-right:20px;background-position:right -271px;}
.btn-cancel span{display:block;height:30px;line-height:30px;padding-left:20px;background-position:left -240px;font-size:14px;font-weight:bold;}
.btn-cancel:active{background-position:right -491px;}
.btn-cancel:active span{background-position:left -460px;}

.btn-deny{display:inline-block;padding-right:10px;background-position:right -134px;}
.btn-deny span{display:block;height:23px;line-height:23px;padding-left:10px;background-position:left -110px;}
.btn-deny:active{background-position:right -436px;}
.btn-deny:active span{background-position:left -412px;}

.btn-cyan{display:inline-block;padding-right:10px;background-position:right -546px;}
.btn-cyan span{display:block;height:23px;line-height:23px;padding-left:10px;background-position:left -522px;}
.btn-cyan:active{background-position:right -594px;}
.btn-cyan:active span{background-position:left -570px;}

.btn-cyan{color:#fff;text-shadow:0 -1px 0 #2e5c5f;}
.btn-cyan:hover{color:#fff;opacity:0.9;}

.btn-red{display:inline-block;padding-right:20px;background-position:right -649px;}
.btn-red span{display:block;height:30px;line-height:30px;padding-left:20px;background-position:left -618px;font-size:14px;font-weight:bold;}
.btn-red:active{background-position:right -711px;}
.btn-red:active span{background-position:left -680px;}

.btn-blue{display: inline-block;padding-right: 20px;background-position: right -835px;text-shadow:0 -1px #1768a2;}
.btn-blue span{display: block;height: 30px;line-height: 30px;padding-left: 20px;background-position: left -804px;font-size: 14px;font-weight: bold;}
.btn-blue:active{background-position: right -897px;}
.btn-blue:active span{background-position: left -866px;}

.btn-red{color:#fff;text-shadow:0 -1px 0 #B41C01;}

.btn-submit-disabled{display:inline-block;padding-right:20px;background-position:right -773px;color:#B9B9B9;text-shadow:0px 1px 0 #fff;cursor:not-allowed;}
.btn-submit-disabled span{display:block;height:30px;line-height:30px;padding-left:20px;background-position:left -742px;font-size:14px;font-weight:bold;cursor:not-allowed;}
.btn-submit-disabled:hover{color:#B9B9B9; }
.btn-submit-disabled:active{background-position:right -773px;}
.btn-submit-disabled:active span{background-position:left -742px;}


.btn-deny,.btn-cancel{color:#666;text-shadow:0 1px 0 #fff;}

.btn-page-prev,.btn-page-next{background-color:#FFF;border:1px solid #666;cursor:pointer;vertical-align:middle;}
.btn-page-prev[disabled],.btn-page-next[disabled],a.btn-page-prev-disabled,a.btn-page-next-disabled{border-color:#ccc;color:#ccc;cursor:not-allowed;}

/*display:inline-block;修复程序中未知问题导致的Chrome下按钮缺少6像素*/
a.btn-page-prev,a.btn-page-next{color:#666;width:auto;display:inline-block;}
a.btn-page-prev:hover,a.btn-page-next:hover{color:#F97521;background-color:transparent;border-color:#F97521;}
a.btn-page-prev-disabled,a.btn-page-next-disabled{color:#999;width:auto;white-space:nowrap;cursor:not-allowed;}
a.btn-page-prev-disabled:hover,a.btn-page-next-disabled:hover{color:#999;border-color:#ccc;}
a.btn-page-prev{padding:3px 10px 3px 5px;}
a.btn-page-next{padding:3px 5px 3px 10px;}

.btn-page-prev[disabled] .icon-arrow-left,a.btn-page-prev-disabled .icon-arrow-left{background-position:-184px -17px;}
.btn-page-next[disabled] .icon-arrow-right,a.btn-page-next-disabled .icon-arrow-right{background-position:-150px -17px;}

.btn-deny:active,.btn-cancel:active{color:#666;}
.btn-cancel:hover,.btn-deny:hover{color:#666;opacity:.9;}

button.btn-submit,button.btn-submit-disabled{border:none;padding:0 20px 0 0px;}
button.btn-deny,button.btn-allow{border:none;padding:0;background-color:transparent;}
button.btn-deny{padding-right:10px;}
button.btn-allow{padding-right:10px;}
button.btn-deny[disabled],button.btn-allow[disabled]{background-position:right -182px;text-shadow:0 1px 0 #fff;cursor:not-allowed;}
button.btn-deny[disabled] span,button.btn-allow[disabled] span{background-position:left -158px;color:#B1B1B1;cursor:not-allowed;}

/*fix for firefox*/
@-moz-document url-prefix() {
.btn-submit::-moz-focus-inner,.btn-allow::-moz-focus-inner,.btn-deny::-moz-focus-inner{ 
    border: 0;
    padding: 0;
}
/*
button.btn-allow span,button.btn-deny span{margin-top:-1px;height:23px;line-height:23px;}
button.btn-allow[disabled] span,button.btn-deny[disabled] span{margin-top:-1px;}
*/
}

/*课程图标*/
.icon-lesson-1-m,.icon-lesson-2-m,.icon-lesson-3-m,.icon-lesson-4-m{width:32px;height:32px;vertical-align:middle;display:inline-block;}
.icon-lesson-1-m{background-position:0 0;}
.icon-lesson-2-m{background-position:0 -33px;}
.icon-lesson-3-m{background-position:0 -66px;}
.icon-lesson-4-m{background-position:0 -99px;}

/*带头像的结构*/
.photo-mode{}
.photo-mode .photo{float:left;width:60px;}
.photo-mode .info{padding-left:60px;}

.l-photo-mode{}
.l-photo-mode .photo{width:120px;}
.l-photo-mode .info{padding-left:160px;}
/*用户头像*/
.photo-l{width:104px;height:104px;background:url(../../images/common/nophoto-l.png) no-repeat;}


/*标签切换结构*/
.tab-switch{border-bottom:1px solid #ccc;margin-bottom: 10px;}
.tab-switch ul{}
.tab-switch li a{display:block;color:#666;padding:3px 10px;background-color: #F9F9F9;}
.tab-switch li{display:inline-block;border:1px solid #e6e6e6;border-bottom:none;margin-right:5px;}
.tab-switch .cur{background-color:#FFF;border-color:#ccc;border-top:2px solid #F87620;font-weight:bold;color:#000;font-size:14px;position:relative;bottom:-1px}
.tab-switch h3{font:18px 'microsoft yahei';float:left;color:#000;margin-right:50px;}
.tab-switch li a:hover{text-decoration:none;}
.tab-switch .cur a{cursor:default;}

/*表格结构*/
.public-table{width:100%;}
.public-table thead tr{background-color:#D6DAE4;color:#000;}
.public-table tbody tr{border-bottom:1px dashed #EAEAEA;}
.public-table .even{background-color:#F9F9F9;}
.public-table .omega{border-bottom:1px solid #ccc;}
.public-table th{font-weight:bold;}
.public-table td,.public-table th{padding:8px 10px;}

/*浅色表格*/
.table-gray{border:1px solid #DEDEDE;}
.table-gray thead tr{border:none;border-bottom:1px solid #EDEDED;}

/*列表结构*/
.public-list{}
.public-list li{border-bottom:1px dashed #EAEAEA;padding:8px 10px;}
.public-list .even{background-color:#F9F9F9;}
.public-list .omega{border:none;}

/*盒子结构*/
.mode-box{}
.mode-box .hd{position:relative;}
.mode-box .hd .more{position:absolute;right:5px; top:5px;}

/*橙色*/
.c-orange{border:1px solid #f8cfa5;box-shadow:inset 0px 0px 0px 4px #fff9ec;}
/*灰色*/
.c-gray{border:1px solid #DEDEDE;}
.c-gray>.hd{padding:5px 10px;background-color:#F7F7F7;border-bottom:1px solid #ECECEC;}
.c-gray>.hd h3{font-weight:bold;font-size:14px;color:#000;}
.c-gray>.hd .more a{color:#999;}
.c-gray>.hd .more a:hover{color:#333;}
/*灰色带标题*/
.c-gray-with-title{padding:10px;border:1px solid #E0E0E0;box-shadow:inset 0 0 0 4px #F9F9F9;}
.c-gray-with-title .hd{border-bottom:2px solid #dedede;padding-bottom:5px;margin-bottom:10px;}
.c-gray-with-title .hd h3{font:18px 'microsoft yahei';border-bottom:2px solid #ff6633; color:#ff6633;display:inline-block;margin-bottom:-7px;padding-bottom:5px;position:relative;}

/*单独标题*/
.single-hd{border-bottom:1px solid #ccc;padding:5px 0;margin-bottom:5px;}
.single-hd h3{font-weight:bold;color:#000;}

/*侧边盒子结构*/
.side-box{}
.side-box .hd{padding:5px 0;border-bottom:2px solid #ECECEC;margin-bottom:5px;}
.side-box .hd h3{font-weight:bold;font-size:14px;color:#000;border-bottom:2px solid #ff6633;display:inline-block;margin-bottom:-7px;padding-bottom:5px;}



/*无边框*/
.noborder{border:none;box-shadow:none;}



/*提醒*/
.notice-yellow{border:1px solid #F9DFB2;background-color:#FFFFE0;padding:10px;}
.notice-gray{border:1px solid #DEDEDE;background-color:#F6F6F6;padding:5px 10px;margin:10px 0;}
.notice-span{width:65%;display:inline-block;vertical-align:top;padding-right:50px;}
.notice-wrap{width:97%;display:inline-block;vertical-align:top;}


/*表单*/
.inp-text{width:280px;padding:4px 5px 6px 5px;height:17px;border:1px solid #C1C1C1;font-size:14px;}
.inp-code{width:95px;}
.inp-time{width:30px;}
.inp-page{width:30px;text-align:center;border:1px solid #c1c1c1;font-size:12px;padding:3px;margin:0 3px;}
.img-code{width:75px;height:29px;vertical-align:middle;}
input[type="search"].inp-text{height:28px;cursor:pointer;}



/*条件过滤*/
.find-filter{ padding:10px 0;}
.find-filter figcaption{ float:left; font-weight:bold;}
.find-filter ul{ display:inline; padding-right:10px;}
.find-filter li{ float:left; border-right:1px solid #cccccc; padding:0 8px;}
.find-filter .alpha{padding-left:0;}
.find-filter .omega{ border:none; padding-right:20px;}
.find-filter a{color:#3366cc;}
.find-filter .other{ color:#666;}
.find-filter .other input{ margin: 0 5px 0 0px; vertical-align:-3px;}
.find-filter .other label{ padding-right:10px;}

/*提示*/
.tip-normal{color:#999;}
.tip-error{color:#c00;}

/*左右结构*/
.left-right-wrap{position:relative;}
.left-right-wrap .left{}
.left-right-wrap .right{position:absolute;right:0;bottom:5px;}

/*表单结构*/
.public-form{ padding-bottom:30px;}
.public-form .row{padding-bottom:15px;}

.public-form .hd{vertical-align:top;display:inline-block; width:155px;  text-align:right; color:#333; line-height:28px;margin-bottom:0;border-bottom:0;}
.public-form .bd{display:inline-block;line-height:28px;}
.public-form .bd span.tip-normal,.public-form .bd label.tip-error{margin-left:5px;}
.public-form .opt-area{padding-left:160px;}
.public-form .opt-area .btn-submit{margin-right:25px;}

.l-form .hd{width:200px;}
.l-form .opt-area{padding-left:205px;}

.m-form .hd{width:140px;font-size:14px;}
.m-form .opt-area{padding-left:145px;}

.s-form .hd{width:80px;}
.s-form .opt-area{padding-left:85px;}

.form-text .row{padding-bottom:0;}
.form-text .opt-area{padding-top:20px;}

.wrap-opt{padding:60px 0 60px 300px;min-height:200px;}
.opt-result h3{font-size:22px;color:#FF6633;margin-bottom:10px;font-family:"microsoft yahei";}
.opt-result .desc{margin-bottom:20px;}

/*
 * 基本样式
 */
.base-box-style{border:1px solid #D8D8D8;background-color: #FFF;overflow:hidden}

/*我的学习板、考前练习*/
.my-board{background-color:#FFF;margin-bottom:10px;}
.my-board li{border-bottom:1px solid #E3E3E3;background-color:#F7F7F7;padding-left:10px;}
.my-board li a{width:100%;height:100%;display:block;padding:8px 0px;color:#666;-webkit-transition:all 0.2s ease-in-out;}
.my-board .cur,.my-board li:hover{border:1px solid #F3D4B5;border-left:none;border-right:none;margin-top:-1px;background-color:#FFFBE1;}
.my-board .cur a{color:#000;font-weight:bold;}
.my-board .cur .icon-arrow-g{background-position:-67px -17px;}

/*登录*/
.login-box{width:45%;margin:20px 0;}
.other-type{border-top:1px dashed #D7D7D7;background-color:#F9F9F9;margin: 0 -6px -6px;padding-bottom:20px;}
.other-type h4{padding:10px;}
.other-type ul{margin:10px auto;padding-left:10px;}
.other-type li{display:inline-block;margin-bottom:10px;margin-right:10px;}
.other-type .icon-sina,.other-type .icon-renren{margin-left:-5px;}

/*浮层*/
.layer{border-collapse:collapse;border-spacing:0; box-shadow: 0 0 50px #fff;}
.layer .top-l,.layer .top-r,.layer .bottom-l,.layer .bottom-r{width:8px; height:8px;background:url(../../images/common/layer.png) no-repeat;}
.layer .top-l{ background-position:-34px -34px;}
.layer .top-r{ background-position:-42px -34px;}
.layer .bottom-l{ background-position:-34px -42px;}
.layer .bottom-r{ background-position:-42px -42px;}

.layer .mid-l,.layer .mid-r,.layer .top-c,.layer .bottom-c{ height:8px;background-image:url(../../images/common/layer.png); background-position:0 0;}
.layer .mid-l,.layer .mid-r{background-repeat:repeat-y;}
.layer .top-c,.layer .bottom-c{ background-repeat:repeat-x;}
.layer .mid-c{ background:#fff;}

/*IE7/6 JS判断是否小于480*/
.layer .layerBox{min-width:479px;}

.layer .layerBoxTop{ position:relative; width:100%; height:30px; line-height:30px; font-size:12px; text-indent:10px; background-color:#666; color:#fff;}
.layer .layerBoxTop .close{ position:absolute; top:10px; right:10px;}
.layer .layerBoxTop .btn-close{ width:8px; height:10px; background:url(../../images/common/layer.png) no-repeat -40px -16px;}
.layer .layerContent .content{ padding:10px;}
.layer .layerContent .content h5{ font-size:12px; font-weight:bold; margin-bottom:10px;}
.layer .layerContent .optArea{padding:10px; background-color:#f5f5f5; border-top:1px solid #ccc; text-align:right; }
.layer .layerContent .content .count-text,.public-form .count-text{ line-height:2; padding-right:10px;}

.layer textarea,.layer input{ font-size:12px; line-height:1.5;} 
.layer-bg{position:fixed; _position:absolute;top:0; left:0; background-color:#000000; width: 100%; height: 100%; z-index:1000; left: 0px; opacity: 0.15;  filter:alpha(opacity=15); visibility: visible; }
 




/*微调*/
.mtb10px{margin:10px auto;}
.mtb20px{margin:20px auto;}
.mtb30px{margin:30px auto;}
.mtb-10px{margin:-10px auto;}
.mb50px{margin-bottom:50px;}
.mb10px{margin-bottom:10px;}
.mb20px{margin-bottom:20px;}
.mb0px{margin-bottom:0px;}
.ml10px{margin-left:10px;}
.ml20px{margin-left:20px;}
.mr10px{margin-right:10px;}
.mr20px{margin-right:20px;}
.mt5px{margin-top:5px;}
.mt10px{margin-top:10px;}
.mt15px{margin-top:15px;}
.mt20px{margin-top:20px;}
.mt30px{margin-top:30px;}
.mt-10px{margin-top:-10px;}
.mlr5px{margin-left:5px;margin-right:5px;}
.mlr10px{margin-left:10px;margin-right:10px;}
.mlr13px{margin-left:12px;margin-right:13px;}
.ptb10px{padding:10px 0;}
.pt10px{padding-top:10px;}
.pt5px{padding-top:5px;}
.pl200px{padding-left:200px;}
.p15px{padding:15px;}
.pr20px{padding-right:20px;}
.p0px{padding:0;}
.p10px{padding:10px;}
.p20px{padding:20px;}
.pb20px{padding-bottom:20px;}
.plr5px{padding-left:5px;padding-right:5px;}
.plr10px{padding-left:10px;padding-right:10px;}
.plr20px{padding-left:20px;padding-right:20px;}

.l4{padding-left:140px;}
.ta-c{text-align:center;}
.ta-r{text-align:right;}
.ta-l{text-align:left;}
.va-t{vertical-align:top;}

.fz26px{font-size:26px !important;}
.fz16px{font-size:16px !important;}
.fz14px{font-size:14px !important;}
.fz12px{font-size:12px !important;}
.fw-n{font-weight:normal;}
.fw-b{font-weight:bold;}

.select-3 select{width:94px;}
.select-1 select{width:292px;}


/*页脚程序信息
.app-info{width:100%;margin:0 auto;display:block;border-top:1px solid #D4DBE3; font-size:12px; line-height:12px; text-align:center;color:#666; padding-bottom:20px;}
.app-info ul{text-align:center;padding:10px 0 5px 0;background-color:#F8F8F8;margin-bottom:10px;}
.app-info li{display:inline;border-right:1px solid #ccc;padding:0 10px;}
.app-info .alpha{padding-left:0;}
.app-info .omega{padding-right:0;border-right:0;}
.app-info a{color:#666;}*/
.app-info{background-color:#272727;font-size: 12px;color: #CFCFCF;}
.app-info .wrap{width:950px;margin:0px auto;}
.app-info dl{display:inline-block;width:13%;padding:30px 2% 5px 4%;vertical-align:top;}
.app-info dt{font-weight:bold;font-size:14px;color:#CFCFCF;padding-bottom:5px;text-indent:8px;position:relative;}
.app-info dt img{position:absolute;left:-30px;top:-5px;}
.app-info dd{margin:10px 0;padding-left: 8px;background: url(../../images/common/dot-arrow.png) 0px center no-repeat;}
.app-info dd a{color:#cfcfcf;}
.app-info dd a:hover{color:#FFF;}
.app-info .alpha dd,.app-info .omega dd{background: none;}
.app-info .alpha{width: 180px;padding-top: 0;padding-left:0;border-right:1px solid #313131;margin-top: 20px;}
.app-info .alpha dt img{left:-10px;top:0}
.app-info .omega{height: 153px;padding-top:0px;margin-top: 20px;border-left:1px solid #313131;}

.site-logo{position:relative !important;width:180px;height:120px;background:url(../../images/common/logo-dark.png) no-repeat;}

.app-info p{text-align:center;padding:10px 0 20px;}
.app-info p a{color:#666;}
.app-info p a:hover{color:#0066CC;}

.app-info .site-title{width: 150px;height: 140px;background: url(../../images/common/footer-title.png) no-repeat;}


/*链接处理*/
.btn-submit:hover,.btn-allow:hover,.btn-deny:hover,.btn-cancel:hover,.btn-cyan:hover,.btn-red:hover,a.btn-page-prev-disabled:hover,a.btn-page-next-disabled:hover,a.btn-page-prev:hover,a.btn-page-next:hover,.my-board li a:hover,.btn-blue:hover{text-decoration:none;}

/*文字处理*/
.icon-has,.btn-signin{font-size:0;}

