.img-intro-zq,.img-intro-qh,.img-intro-yh{width:230px;height:60px;background-image:url(../../images/common/apply.png);background-repeat:no-repeat;}
.img-intro-zq{background-position:0 -418px;}
.img-intro-qh{background-position:0 -479px;}
.img-intro-yh{background-position:0 -540px;}

.list-intro{margin-top:10px;}
.list-intro li{margin-bottom:10px;}

.list-detail{padding-left:25px;}
.list-detail h3{font-weight:bold;font-size:14px;padding-bottom:5px;}
.list-detail li{margin-bottom:20px;}


.exam-title{font-weight:bold;font-size:14px;color:#000;padding:0 0 10px 0;}
.exam-title span{font-weight:normal;}

.table-exam{}
.table-exam .t1{}
.table-exam .t2,.table-exam .t3,.table-exam .t4{width:15%;}

.table-exam-info{width:100%;margin-bottom:10px;}
.table-exam-info caption{font-weight:bold;font-size:14px;margin-bottom:10px;}
.table-exam-info th,.table-exam-info td{padding:10px;border:1px solid #DEDEDE;}
.table-exam-info th{background-color:#E6E6E6;font-weight:bold;color:#000;text-align:center;width:16%;}
.table-exam-info .green{color:#fff !important;background-color:#669933;}


.dl-exam-info{}
.dl-exam-info dt{font-weight:bold;border-bottom:1px solid #dedede;padding:10px 0 5px;}
.dl-exam-info dd{display:inline-block;padding:5px 0 20px;margin-right:50px;}

.list-exam{}
.list-exam li{float:left;padding:2%;width:20%;border-bottom:1px solid #E6E6E6;border-right:1px dashed #eee;text-align:center;}
.list-exam p{padding:3px 0;}
.img-locked,.img-unlock{width:100px;height:108px;background-image:url(../../images/exercise/exam-status.png);background-repeat:no-repeat;}
.img-locked{background-position:0 0;}
.img-unlock{background-position:-100px 0;}


/*
 * 临时设置
 */
.pm-exer{}
.pm-exer .photo{width: auto;}
.pm-exer .info{padding-left:23%;}
.pm-exer-lite .info{padding-left:130px;}



/*
 * 倒计时
 */
.countdown-module{width: 200px;min-height:122px;background: url(../../images/exercise/clock.png) no-repeat #232E6C right bottom;color: #FFF;font-size: 16px;}
.countdown-module p{padding: 10px;}
.countdown-module span{font-weight: bold;font-size: 22px;color: #5C6A94;}
.countdown-module em{font-size: 30px;}


/*
 * 单个科目
 * */
.single-title{padding-bottom:10px;}
.single-time{top:10px;right:30px}
.single-time img{width:24px;vertical-align:middle;}
.single-title .a-intro{display:inline-block;vertical-align:-3px;width:87px;height:24px;text-align:center;line-height:24px;color:#fff;font-weight:bold;background:url(../../images/exercise/single-intro-button.png) no-repeat;}
.single-title .a-intro:hover{background-position:0 -26px;text-decoration:none;text-shadow:0 -1px 0 #618304;}
.single-title h3{margin-right:10px;margin-left:5px;display: inline;}


.table-exer{}
.table-exer th,.table-exer td{text-align: center;}
.table-exer th.h1,.table-exer td.l1{text-align:left;}
.table-exer .h1{}
.table-exer .h2{width: 20%;}
.table-exer .h3{width: 20%;}
.table-exer .h4{width: 15%;}
.table-exer .h5{width: 15%;}


/*
 * 单个详细
 * */

.side-mode{background-color: #E2E5EC;border:1px solid #BFC5D0;border-top:3px solid #EDB328;padding: 10px;width: 208px;padding-right: 0;}

.new-side-box .hd h3{font-size: 16px;color: #1D316C;margin-bottom: 10px;}
.new-side-box .new-my-board{margin-bottom: 20px;}
.new-side-box .new-my-board .cur,.my-board li:hover{background: url(/static/images/common/side-hover-bg.png) no-repeat #FFF;margin-right: -1px;}
.new-side-box .new-my-board a{color: #333;display: block;padding: 10px;}
.new-side-box .new-my-board .cur a,.my-board li:hover a{color: #000;font-weight: bold;}
.new-side-box{background-color: transparent;}


.btn-join,.btn-upgrade,.btn-start,.btn-point,.btn-start-disabled,.btn-point-disabled{display:inline-block;vertical-align:middle;background-image:url(../../images/exercise/buttons.png);background-repeat:no-repeat;color:transparent;font-size:0;}
.btn-join:hover,.btn-upgrade:hover,.btn-start:hover,.btn-point:hover{color:transparent;}
.btn-join,.btn-upgrade{width:142px;height:33px;}
.btn-join{background-position:0 0;}
.btn-upgrade{background-position:-144px 0;}

.btn-start,.btn-point,.btn-start-disabled,.btn-point-disabled{width:120px;height:38px;border:none;background-color:transparent;}
.btn-start{background-position:0 -36px;}
.btn-point{background-position:0 -116px;}
.btn-start[disabled]{background-position:0 -77px;cursor:not-allowed;}
.btn-point[disabled]{background-position:0 -155px;cursor:not-allowed;}


.table-exam .t1{}
.table-exam .t2{width: 15%;}
.table-exam .t3{width: 15%;}
.table-exam .t4{width: 15%;}
.table-exam .pass{color: #009933;background: url(../../images/exercise/pass.png) right center no-repeat;padding-right: 45px;}



.single-class-header{height:67px;background:url(../../images/exercise/single-header-bg.png) no-repeat top center;}
.single-class-header h3{font-size:20px;display:inline;vertical-align:middle;color:#000;text-shadow:0 -1px 0 rgba(255,255,255,0.9);}
.single-class-header .single-title{padding-top:20px;}
.single-class-header .single-time{top:10px;right:30px}
.single-class-header .single-time img{width:24px;vertical-align:middle;}
.single-class-header .single-title .a-intro{display:inline-block;vertical-align:-3px;width:87px;height:24px;text-align:center;line-height:24px;color:#fff;font-weight:bold;background:url(../../images/exercise/single-intro-button.png) no-repeat;}
.single-class-header .single-title .a-intro:hover{background-position:0 -26px;text-decoration:none;text-shadow:0 -1px 0 #618304;}
.single-class-header .single-title h3{margin-right:10px;margin-left:5px;}
.single-class-header .single-back{top:0px;}
.single-class-header .a-back{display:inline-block;padding:0 20px 0 60px;height:67px;line-height:67px;color:#fff3eb;font-size:14px;font-weight:bold;background:url(../../images/exercise/single-back-button.png) no-repeat;text-shadow:0 -1px 0 #c00}
.single-class-header .a-back:hover{text-decoration:none;color:#fff;}

.intro-table-info{font-size:12px;margin-top:10px;width:100%;margin:10px 0;}
.intro-table-info th,.intro-table-info td{border:1px solid #e6e6e6;padding:10px;}
.intro-table-info th{font-weight:bold;background-color:#F9F9F9;}
.table-zq .t1{width:25%;}
.table-zq  .t2{width:20%;}

.attach{background-color:#fdfdfd;padding:0 20px}

